<template>
    <div>
        <h2 class="mb-3">
            Create Promo Codes
        </h2>
        <div>
            <b-card title="Card Title" no-body>
                <b-card-body>
                    <div class="row">
                        <!--Prefix-->
                        <div class="form-group col-3">
                            <label for="promoPrefix">Prefix</label>
                            <input type="text"
                                   required
                                   class="form-control form-control-sm validate-input"
                                   id="promoPrefix"
                                   :disabled="showPromoCodes"
                                   v-model="config.prefix">
                        </div>
                        <!--Tag-->
                        <div class="form-group col-3">
                            <label for="promoTag">Tag</label>
                            <input type="text"
                                   class="form-control  form-control-sm"
                                   id="promoTag"
                                   :disabled="showPromoCodes"
                                   v-model="config.tag">
                        </div>
                        <!--Product-->
                        <div class="form-group col-3">
                            <label for="promoProduct">Product</label>
                            <select class="form-control form-control-sm validate-input"
                                    id="promoProduct"
                                    required
                                    :disabled="showPromoCodes"
                                    v-model="config.product">
                                <option value=""></option>
                                <option value="DELFIPLUS">D+</option>
                                <option value="MVP">MVP</option>
                            </select>
                        </div>
                        <!--Type-->
                        <div class="form-group col-3">
                            <label for="promoType">Type</label>
                            <select class="form-control form-control-sm validate-input"
                                    id="promoType"
                                    required
                                    :disabled="showPromoCodes"
                                    v-model="config.type">
                                <option value=""></option>
                                <option value="sub:1d">1 day</option>
                                <option value="sub:7d">7 days</option>
                                <option value="sub:14d">14 days</option>
                                <option value="sub:28d">28 days</option>
                                <option value="sub:84d">84 days</option>
                                <option value="sub:168d">168 days</option>
                                <option value="sub:231d">231 days</option>
                                <option value="sub:245d">245 days</option>
                                <option value="sub:280d">280 days</option>
                                <option value="sub:364d">364 days</option>
                            </select>
                        </div>
                        <!--promo code valid from-->
                        <div class="form-group col-4">
                            <label for="promoValidFrom">Valid from:</label>
                            <VueCtkDateTimePicker
                                    :formatted="'YYYY-MM-DD'"
                                    format="YYYY-MM-DD"
                                    id="promoValidFrom"
                                    v-model="config.validFrom"
                                    :only-date="(true)"
                                    :no-label="true"
                                    label="Select date"
                                    :disabled="showPromoCodes"
                                    :auto-close="true"
                            />
                        </div>
                        <!--promo code valid to-->
                        <div class="form-group col-4">
                            <label for="promoValidTo">Valid to:</label>
                            <VueCtkDateTimePicker
                                    :formatted="'YYYY-MM-DD'"
                                    format="YYYY-MM-DD"
                                    id="promoValidTo"
                                    v-model="config.validTo"
                                    :only-date="(true)"
                                    :no-label="true"
                                    label="Select date"
                                    :disabled="showPromoCodes"
                                    :auto-close="true"
                            />
                        </div>
                        <!--batch size-->
                        <div class="form-group col-4">
                            <label for="promoBatchSize">Batch size</label>
                            <input type="number"
                                   min="1"
                                   max="1000"
                                   required
                                   class="form-control form-control-sm validate-input"
                                   id="promoBatchSize"
                                   :disabled="showPromoCodes"
                                   v-model.number="config.batchSize">
                        </div>
                    </div>
                    <div class="form-group d-flex">
                        <button class="btn btn-primary"
                                @click="generate"
                                :disabled="showPromoCodes">
                            <b-icon icon="gear-fill" aria-hidden="true"></b-icon>
                            Generate
                        </button>
                        <span v-if="showPromoCodes" class="ml-auto">
                            <button class="btn btn-outline-danger"
                                    @click="remove('all')">
                                <b-icon icon="trash-fill" aria-hidden="true"></b-icon>
                                Remove
                            </button>
                            <button class="btn btn-outline-secondary mx-3"
                                    @click="reset">
                                <b-icon icon="table" aria-hidden="true"></b-icon>
                                Clear
                            </button>
                            <export-button className="btn btn-outline-info" :items="promoCodes">
                                <b-icon icon="download" aria-hidden="true"></b-icon>
                                Export
                            </export-button>
                        </span>
                    </div>
                    <div v-if="wentWrong" class="font-weight-bold text-center text-danger">
                        Something went wrong... Try again or reload page.
                    </div>
                    <div v-else-if="loading" class="font-italic text-center text-muted">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <div v-else-if="showPromoCodes" style="overflow-x: scroll;">
                        <div v-if="promoCodes.length > 0" >
                            <b-table striped hover :items="promoCodes" :fields="fields">
                                <template v-slot:cell(index)="data">
                                    {{ data.index + 1 }}
                                </template>
                            </b-table>
                        </div>
                        <div v-else class="text-center text-muted mt-4">
                            <div>
                                <img src="//g.delfi.lv/delfi-plus/icons/no-data.svg" alt="No data">
                            </div>
                            No data
                        </div>
                    </div>
                </b-card-body>
            </b-card>
        </div>
        <b-modal id="bv-modal-delete" hide-footer>
            <div class="d-block text-center">
                <h3>Remove {{promoCodes.length}} codes from database?</h3>
            </div>
            <b-button class="mt-3" block @click="$bvModal.hide('bv-modal-delete')">Cancel</b-button>
            <b-button class="mt-3" block @click="deletePromoCodes(removeType)">Yes</b-button>
        </b-modal>
    </div>
</template>

<script>
import axios from 'axios';
import createPromoCodes from '../../graphql/promo-code/createPromoCodes.graphql';
import deletePromoCodes from '../../graphql/promo-code/deletePromoCodes.graphql';
import ExcelExport from '../../components/promo-code/ExcelExport.vue';

export default {
  name: 'CreateNotifications',
  props: {
    user: Object,
  },
  components: {
    'export-button': ExcelExport,
  },
  data() {
    return {
      config: {
        prefix: null,
        tag: null,
        product: null,
        type: null,
        validFrom: null,
        validTo: null,
        batchSize: null,
      },
      fields: [
        { key: 'index', label: '#' },
        'code',
        'tag',
        'product',
        'created',
        'validFrom',
        'validTo',
      ],
      removeType: null,
      wentWrong: false,
      loading: false,
      promoCodes: [],
      showPromoCodes: false,
      codeToRemove: {},
    };
  },
  computed: {
    promoCodesArray() {
      return this.promoCodes.map(e => e.code);
    },
  },
  methods: {
    remove(type, code, index) {
      this.removeType = type;
      this.codeToRemove = {
        code,
        index,
      };
      this.$bvModal.show('bv-modal-delete');
    },
    generate() {
      this.wentWrong = false;
      if (this.checkValidation()) {
        this.loading = true;
        this.createPromoCodes().then(() => {
          this.loading = false;
          if (!this.wentWrong) {
            this.showPromoCodes = true;
            this.$bvToast.toast('Promo codes generated and saved to database.', {
              title: `Success!`,
              variant: 'success',
              solid: true,
              autoHideDelay: 10000,
            })
          }
        });
      }
    },
    async createPromoCodes() {
      const headers = {};
      headers.Authorization = `Bearer ${this.user.loginApiToken}`;
      await axios({
        headers,
        url: '//api.delfi.lv/payment-processing/v1/graphql',
        method: 'post',
        data: {
          query: createPromoCodes,
          variables: {
            prefix: this.config.prefix,
            tag: this.config.tag,
            type: this.config.type,
            product: this.config.product,
            validFrom: this.config.validFrom,
            validTo: this.config.validTo,
            batchSize: this.config.batchSize,
          },
        },
      }).then(
        (response) => {
          if (
            (typeof response.data.errors !== 'undefined' && response.data.errors.length > 0)
            || response.data.data.createPromoCodes.response.status === 'failed'
          ) {
            console.log('getUsers response', response);
            this.wentWrong = true;
          } else {
            this.promoCodes = response.data.data.createPromoCodes.promoCodes;
          }
        },
        (error) => {
          this.wentWrong = true;
          console.log('getUsers error', error);
        }
      );
    },
    async deletePromoCodes(type) {
      let arrayToRemove = [];
      if (type === 'all') {
        arrayToRemove = this.promoCodesArray;
      } else {
        arrayToRemove[0] = this.codeToRemove.code;
      }
      const headers = {};
      headers.Authorization = `Bearer ${this.user.loginApiToken}`;
      await axios({
        headers,
        url: '//api.delfi.lv/payment-processing/v1/graphql',
        method: 'post',
        data: {
          query: deletePromoCodes,
          variables: {
            codes: this.promoCodesArray,
          },
        },
      }).then(
        (response) => {
          if (
            (typeof response.data.errors !== 'undefined' && response.data.errors.length > 0)
            || response.data.data.deletePromoCodes.response.status === 'failed'
          ) {
            this.$bvToast.toast('Failed to remove promo code from database', {
              title: `Error!`,
              variant: 'danger',
              solid: true,
              autoHideDelay: 10000,
            })
          } else {
            if (type === 'all') {
              this.promoCodes = [];
            } else {
              this.promoCodes.slice(this.codeToRemove.index, 1);
            }
            this.$bvToast.toast('Promo codes were removed from database', {
              title: `Warning!`,
              variant: 'warning',
              solid: true,
              autoHideDelay: 10000,
            });
            this.$bvModal.hide('bv-modal-delete')
          }
        },
        (error) => {
          this.$bvToast.toast('Failed to remove promo code from database', {
            title: `Error!`,
            variant: 'danger',
            solid: true,
            autoHideDelay: 10000,
          });
          console.log('error', error);
        }
      );
    },
    reset() {
      this.showPromoCodes = false;
      this.promoCodes = [];
    },
    removeSelectedUser(id) {
      delete this.selectedUsers[id];
    },
  },
};
</script>

<style lang="scss">
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to {
        opacity: 0;
    }
    .table-cell-head:hover {
        background-color: #f9f9f9;
        cursor: pointer;
    }
    .table {
        display: table!important;
        min-width: 100%;

    }
    .table-row {
        display: table-row;
    }
    .table-cell {
        display: table-cell;
        padding: 10px;
        border-bottom: 1px solid rgb(222, 226, 230);
    }
    .table .table-row:hover {
        background-color: rgba(0,0,0,.075);
    }
    .date-time-picker .is-disabled .custom-button {
        display: none!important;
    }
</style>
