<template>
    <div>
        <div class="d-flex align-self-center mb-3">
            <h2 class="my-auto d-inline">
                Get Promo Codes
            </h2>
            <button type="button" class="btn btn-primary rounded-pill ml-auto" @click="$router.push({name: 'promoCreate'})">Create Promo Codes</button>
        </div>
        <div>
            <b-card title="Card Title" no-body class="mb-3">
                <b-card-header header-tag="nav">
                    <b-nav card-header tabs>
                        <b-nav-item v-for="item  in navComponents"
                                    v-bind:key="item.componenasdt"
                                    :disabled="item.disabled"
                                    @click="activeComponent = item.component"
                                    :active="item.component === activeComponent">
                            {{item.name}}
                        </b-nav-item>
                    </b-nav>
                </b-card-header>
                <b-card-body>
                    <keep-alive>
                        <component
                                ref="components"
                                :is="activeComponent"
                                :user="user"
                                :selectedItems="selectedItems"
                                :tableHead="tableHead"
                                @setSelectedItems="setSelectedItems"
                                @setTableHead="setTableHead"
                                @unselectAll="unselectAll"
                        ></component>
                    </keep-alive>
                </b-card-body>
            </b-card>
        </div>
    </div>
</template>

<script>
  import Step1 from '../../components/promo-code/index/Step1.vue';
  import Step2 from '../../components/promo-code/index/Step2.vue';

  export default {
    name: 'CreateNotifications',
    props: {
      user: Object,
    },
    components: {
      Step1,
      Step2,
    },
    data() {
      return {
        activeComponent: 'Step1',
        selectedItems: {},
        tableHead: [],
        navComponents: [
          {
            name: 'Get',
            component: 'Step1',
            disabled: false,
          },
          {
            name: 'Selected',
            component: 'Step2',
            disabled: false,
          }
        ],
      };
    },
    methods: {
      setSelectedItems(items) {
        this.selectedItems = items;
      },
      setTableHead(value) {
        this.tableHead = value;
      },
      unselectAll() {
        this.selectedItems = {};
      },
    },
  };
</script>
