<template>
    <div>
        <h2 class="mb-3">
            Promo Code Tags
        </h2>
        <div>
            <div v-if="promoCodeTags.length > 0" >
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Tag</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="tag in promoCodeTags" :key="tag.tag">
                            <td>
                                <span v-if="tagToEdit.old === tag.tag">
                                    <input type="text"
                                           required
                                           class="validate-input"
                                           v-model="tagToEdit.new"
                                           placeholder="Tag name">
                                </span>
                                <div v-else
                                      class="m-1">
                                    {{tag.tag}}
                                </div>
                            </td>
                            <td>
                                <div v-if="tagToEdit.old === tag.tag"
                                    class="d-flex justify-content-end">
                                    <button class="btn btn-outline-primary mr-3"
                                            @click="updatePromoCodeTag()">
                                        Save
                                    </button>
                                    <button class="btn btn-outline-primary"
                                            @click="cancelEditing()">
                                        Cancel
                                    </button>
                                </div>
                                <div v-else
                                     class="d-flex justify-content-end">
                                    <button class="btn btn-primary"
                                            @click="startEdit(tag.tag)">
                                        Edit
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-else class="text-center text-muted mt-4">
                <div>
                    <img src="//g.delfi.lv/delfi-plus/icons/no-data.svg" alt="No data">
                </div>
                No data
            </div>
        </div>
    </div>
</template>

<script>
  import axios from 'axios';
  import getPromoCodeTags from '../../graphql/promo-code/getPromoCodeTags.graphql';
  import updatePromoCodeTag from '../../graphql/promo-code/updatePromoCodeTag.graphql';

  export default {
    name: 'CreateNotifications',
    props: {
      user: Object,
    },
    created() {
      this.getPromoCodeTags();
    },
    data() {
      return {
        wentWrong: false,
        loading: false,
        promoCodeTags: [],
        fields: ['tag', 'options'],
        tagToEdit: {
          old: null,
          new: null,
        },
      };
    },
    methods: {
      startEdit(tag) {
        this.tagToEdit.old = tag;
        this.tagToEdit.new = tag;
      },
      cancelEditing() {
        this.tagToEdit.old = null;
        this.tagToEdit.new = null;
      },
      async getPromoCodeTags() {
        const headers = {};
        headers.Authorization = `Bearer ${this.user.loginApiToken}`;
        await axios({
          headers,
          url: '//api.delfi.lv/payment-processing/v1/graphql',
          method: 'post',
          data: {
            query: getPromoCodeTags,
          },
        }).then(
          (response) => {
            if (
              (typeof response.data.errors !== 'undefined' && response.data.errors.length > 0)
              || response.data.data.getPromoCodeTags.response.status === 'failed'
            ) {
              console.log('getPromoCodeTags failed', response);
              this.wentWrong = true;
            } else {
              this.promoCodeTags = response.data.data.getPromoCodeTags.tags;
            }
          },
          (error) => {
            this.wentWrong = true;
            console.log('getPromoCodeTags error', error);
          }
        );
      },
      async updatePromoCodeTag() {
        const headers = {};
        headers.Authorization = `Bearer ${this.user.loginApiToken}`;
        await axios({
          headers,
          url: '//api.delfi.lv/payment-processing/v1/graphql',
          method: 'post',
          data: {
            query: updatePromoCodeTag,
            variables: {
              searchFor: this.tagToEdit.old,
              changeTo: this.tagToEdit.new,
            }
          },
        }).then(
          (response) => {
            if (
              (typeof response.data.errors !== 'undefined' && response.data.errors.length > 0)
              || response.data.data.updatePromoCodeTag.response.status === 'failed'
            ) {
              console.log('updatePromoCodeTags failed', response);
              this.$bvToast.toast('Failed to edit promo code', {
                title: `Error!`,
                variant: 'danger',
                solid: true,
                autoHideDelay: 10000,
              });
            } else {
              this.tagToEdit.new = null;
              this.tagToEdit.old = null;
              this.$bvToast.toast('Promo code tag successfully updated', {
                title: `Success!`,
                variant: 'success',
                solid: true,
                autoHideDelay: 10000,
              });
              this.getPromoCodeTags();
            }
          },
          (error) => {
            this.$bvToast.toast('Failed to edit promo code', {
              title: `Error!`,
              variant: 'danger',
              solid: true,
              autoHideDelay: 10000,
            });
            console.log('getPromoCodeTags error', error);
          }
        );
      },
    },
  };
</script>

<style lang="scss">
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to {
        opacity: 0;
    }
    .table-cell-head:hover {
        background-color: #f9f9f9;
        cursor: pointer;
    }
    .table {
        display: table!important;
        min-width: 100%;
    }
    .table-row {
        display: table-row;
    }
    .table-cell {
        display: table-cell;
        padding: 10px;
        border-bottom: 1px solid rgb(222, 226, 230);
    }
    .table .table-row:hover {
        background-color: rgba(0,0,0,.075);
    }
    .date-time-picker .is-disabled .custom-button {
        display: none!important;
    }
</style>
