<template>
    <div>
        <div class="row">
            <!--clear filter-->
            <div class="col-12">
                <div class="text-right">
                    <u>
                        <span class="cursor-pointer" @click="clearFilter">Clear filter</span>
                    </u>
                </div>
            </div>
            <!--userId-->
            <div class="form-group col-12">
                <label for="searchByUser">User ID</label>
                <b-form-tags
                        id="searchByUser"
                        input-id="searchByUser"
                        v-model="filter.userId"
                        separator=" ,;"
                        remove-on-delete
                        placeholder="Enter new user ID separated by space, comma or semicolon"
                        class="mb-2"
                ></b-form-tags>
            </div>
            <!--firstName-->
            <div class="form-group col-3">
                <label for="searchByFirstName">First name</label>
                <input type="text"
                       class="form-control  form-control-sm"
                       id="searchByFirstName"
                       v-model="filter.firstName">
            </div>
            <!--lastName-->
            <div class="form-group col-3">
                <label for="searchByLastName">Last name</label>
                <input type="text"
                       class="form-control  form-control-sm"
                       id="searchByLastName"
                       v-model="filter.lastName">
            </div>
            <!--email-->
            <div class="form-group col-3">
                <label for="searchByEmail">Email</label>
                <input type="email"
                       class="form-control  form-control-sm"
                       id="searchByEmail"
                       v-model="filter.email">
            </div>
            <!--phone-->
            <div class="form-group col-3">
                <label for="searchByPhone">Phone</label>
                <input type="text"
                       class="form-control  form-control-sm"
                       id="searchByPhone"
                       v-model="filter.phone">
            </div>
            <!--product-->
            <div class="form-group col-3">
                <label for="searchByProduct">Product</label>
                <select class="form-control form-control-sm validate-input"
                        id="searchByProduct"
                        required
                        v-model="filter.product"
                        :disabled="filter.filter === 'HaveSubscriptionWithCancelledRecurring' ||
                               filter.filter ===  'ExSubscribersNotRenewedInSpecificTime'"
                >
                    <option value=""></option>
                    <option v-bind:value="['DELFIPLUS']">D+</option>
                    <option v-bind:value="['MVP']">MVP</option>
                    <option v-bind:value="['DELFIPLUS', 'MVP']">D+, MVP</option>
                </select>

            </div>
            <!--key-->
            <div class="form-group col-3">
                <label for="searchByKey">Key</label>
                <select class="form-control  form-control-sm"
                        id="searchByKey"
                        v-model="filter.key">
                    <option value=""></option>
                    <option value="bank-link">bank-link</option>
                    <option value="card">card</option>
                    <option value="sms">sms</option>
                    <option value="paysera-sms">paysera-sms</option>
                </select>
            </div>
            <!--subscription recurring-->
            <div class="form-group col-3">
                <label for="searchBySubscriptionRecurring">Subscription Recurring</label>
                <select class="form-control  form-control-sm"
                        id="searchBySubscriptionRecurring"
                        v-model="filter.subscriptionRecurring"
                        :disabled="filter.filter === 'HaveSubscriptionWithCancelledRecurring' ||
                               filter.filter ===  'ExSubscribersNotRenewedInSpecificTime'"
                >
                    <option value=""></option>
                    <option v-bind:value="true">True</option>
                    <option v-bind:value="false">False</option>
                </select>

            </div>
            <!--subscription access-->
            <div class="form-group col-3">
                <label for="searchBySubscriptionStatus">Subscription Access</label>
                <select class="form-control  form-control-sm"
                        id="searchBySubscriptionStatus"
                        v-model="filter.subscriptionAccess"
                        :disabled="filter.filter === 'HaveSubscriptionWithCancelledRecurring' ||
                               filter.filter ===  'ExSubscribersNotRenewedInSpecificTime'"
                >
                    <option value=""></option>
                    <option v-bind:value="true">True</option>
                    <option v-bind:value="false">False</option>
                </select>

            </div>
            <!--subscription type-->
            <div class="form-group col-3">
                <label for="searchBySubscriptionType">Subscription type</label>
                <select class="form-control  form-control-sm"
                        id="searchBySubscriptionType"
                        v-model="filter.subscriptionType"
                        :disabled="filter.filter === 'HaveSubscriptionWithCancelledRecurring' ||
                               filter.filter ===  'ExSubscribersNotRenewedInSpecificTime'"
                >
                    <option value=""></option>
                    <option value="in-active">in-active</option>
                    <option value="subscription">subscription</option>
                    <option value="special-access-user">special-access-user</option>
                    <option value="corporate">corporate</option>
                </select>
            </div>
            <!--subscription valid from-->
            <div class="form-group col-3">
                <label for="searchBySubscriptionValidFrom">Subscription valid from:</label>
                <VueCtkDateTimePicker
                        :formatted="'YYYY-MM-DD'"
                        format="YYYY-MM-DD"
                        range
                        id="searchBySubscriptionValidFrom"
                        v-model="filter.subscriptionValidFrom"
                        :only-date="(true)"
                        :no-label="true"
                        label="Select date"
                        :auto-close="true"
                />
            </div>
            <!--subscription valid to-->
            <div class="form-group col-3">
                <label for="searchBySubscriptionValidTo">Subscription valid to:</label>
                <VueCtkDateTimePicker
                        :formatted="'YYYY-MM-DD'"
                        format="YYYY-MM-DD"
                        range
                        id="searchBySubscriptionValidTo"
                        v-model="filter.subscriptionValidTo"
                        :only-date="(true)"
                        :no-label="true"
                        label="Select date"
                        :auto-close="true"
                />
            </div>
            <!--loyal-->
            <div class="form-group col-3">
                <label for="searchByLoyal">User loyalty</label>
                <select class="form-control  form-control-sm"
                        id="searchByLoyal"
                        v-model="filter.loyalStatus">
                    <option value=""></option>
                    <option v-bind:value="true">Loyal</option>
                    <option v-bind:value="false">Not loyal</option>
                </select>
            </div>
        </div>
        <!--predefined filter-->
        <div class="row">
            <div class="form-group col-6">
                <label for="searchByPredefined">Predefined filter</label>
                <select class="form-control  form-control-sm"
                        id="searchByPredefined"
                        v-model="filter.filter">
                    <option value=""></option>
                    <option value="HaveSubscriptionWithCancelledRecurring">Have subscription with cancelled recurring</option>
                    <option value="ExSubscribersNotRenewedInSpecificTime">Ex subscribers not renewed in specific time</option>
                </select>
            </div>
            <div v-if="filter.filter === 'ExSubscribersNotRenewedInSpecificTime' || filter.filter === 'HaveSubscriptionWithCancelledRecurring'" class="form-group col-6">
                <label for="predefined-filter-date">{{textForPredefinedField}}</label>
                <VueCtkDateTimePicker
                        :formatted="'YYYY-MM-DD'"
                        format="YYYY-MM-DD"
                        :minDate="minDate"
                        :maxDate="maxDate"
                        id="predefined-filter-date"
                        v-model="filter.filterParameter"
                        :only-date="(true)"
                        :no-label="true"
                        label="Select date"
                        :auto-close="true"
                />
            </div>
        </div>
        <!--hide columns-->
        <div class="row mb-3">
            <div class="col-12">
                Necessary user data
                <b-icon id="necessary-data-info" icon="question-circle" aria-hidden="true"></b-icon>
                <b-tooltip target="necessary-data-info" triggers="hover">
                    Less data - faster search!
                </b-tooltip>
                <div class="d-flex">
                    <button class="btn btn-sm btn-outline-primary ml-auto"
                            @click="selectAllUserData">
                        Select all
                    </button>
                </div>
            </div>
            <div v-for="item in tableHead" :key="item.key" class="col-3">
                <div class="form-check">
                    <input type="checkbox"
                           class="form-check-input"
                           :id="item.key"
                           :disabled="item.required"
                           v-model="item.shown">
                    <label class="form-check-label" :for="item.key">
                        {{item.text}}
                    </label>
                </div>
            </div>
        </div>
        <!--search button-->
        <div class="row">
            <div class="form-group col-12 text-center">
                <button class="btn btn-primary"
                        @click="search">
                    Search
                </button>
            </div>
        </div>
        <div class="row">
            <!--limit-->
            <div class="col-6">
                <div class="dataTables_length" id="tableLimit">
                    <label>
                        Show
                        <select aria-controls="tableLimit"
                                v-model.number="filter.limit"
                                @change="search">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="200">200</option>
                            <option value="300">300</option>
                            <option value="400">400</option>
                            <option value="500">500</option>
                            <option value="1000">1'000</option>
                            <option value="2000">2'000</option>
                            <option value="3000">3'000</option>
                            <option value="4000">4'000</option>
                            <option value="5000">5'000</option>
                            <option value="10000">10'000</option>
                        </select>
                        entries
                    </label>
                </div>
            </div>
            <!--table info-->
            <div class="col-6">
                <div class="dataTables_length text-right" id="tableLength">
                    <strong>{{totalUserCount}}</strong> rows in the table
                </div>
            </div>
        </div>
        <!--table-->
        <div style="overflow-x: scroll;">
            <div v-if="wentWrong" class="font-weight-bold text-center text-danger">
                Something went wrong... Try again or reload page.
            </div>
            <div v-else-if="searching" class="font-italic text-center text-muted py-5">
                <div class="d-flex justify-content-center my-5 py-5">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <div v-else-if="Object.keys(users).length > 0" >
                <b-pagination
                        v-model="currentPage"
                        :total-rows="totalUserCount"
                        :per-page="filter.limit"
                        align="center"
                        first-number
                        last-number
                ></b-pagination>
                <div class="overflow-auto table-container">
                    <table class="table table-hover">
                        <virtual-list
                                :data-key="'userId'"
                                :data-sources="users"
                                :data-component="itemComponent"
                                :estimate-size="50"
                                root-tag="div"
                                class="virtual-list-table b-table table-striped table-hover"
                                wrap-tag="tbody"
                                item-tag="tr"
                                header-tag="thead"
                                :extra-props="{selected, tableHeadElements, selectUser }"
                        >
                            <tr slot="header">
                                <th scope="col" style="width: 37px;">
                                    <div class="form-check">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               id="allUserSelect"
                                               :indeterminate.prop="usersSelected.some"
                                               :checked="usersSelected.all"
                                               @click="selectUserList">
                                        <label class="form-check-label" for="allUserSelect">
                                        </label>
                                    </div>
                                </th>
                                <th v-for="value in tableHeadElements"
                                    scope="col"
                                    class="cursor-pointer"
                                    @click="orderBy(value.key)"
                                    :key="value.key"
                                >
                                    {{value.text}}
                                    <span v-if="filter.orderBy === value.key">
                                        <i class="text-size-3 pl-1 position-absolute"
                                           :class="{
                                                'icon-arrows-thin-top': filter.order === 'DESC',
                                                'icon-arrows-thin-bottom': filter.order === 'ASC'
                                           }">
                                        </i>
                                    </span>
                                </th>
                            </tr>
                        </virtual-list>
                    </table>
                </div>
            </div>
            <div v-else class="text-center text-muted">
                <div>
                    <img src="https://g.delfi.lv/delfi-plus/icons/no-data.svg" alt="No data">
                </div>
                No data
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import format from 'date-fns/format'
import getUsers from '../../graphql/notification/getUsers.graphql'
import logProcessing from '../../graphql/notification/logProcessingMutation.graphql'
import Item from './Step1Item'
import VirtualList from 'vue-virtual-scroll-list'

export default {
  name: 'UserCriteriaTable',
  props: {
    selectedUsers: Object,
    loginApiToken: String,
    removeSelectedUser: Function,
    user: Object,
  },
  components: {
    'virtual-list': VirtualList
  },
  data() {
    return {
      itemComponent: Item,
      users: [],
      selected: {},
      usersSelected: {
        all: false,
        some: false,
      },
      minDate: null,
      maxDate: null,
      textForPredefinedField: '',
      currentPage: 1,
      filter: {
        limit: 100,
        offset: 0,
        orderBy: null,
        order: null,
        filter: null,
        filterParameter: format(
          new Date(),
          'YYYY-MM-DD'
        ),
        product: ['DELFIPLUS'],
        userId: [],
        firstName: null,
        lastName: null,
        gender: null,
        birthday: null,
        email: null,
        phone: null,
        created: null,
        modified: null,
        key: null,
        subscriptionRecurring:  null,
        subscriptionAccess: null,
        subscriptionType: null,
        subscriptionValidFrom: null,
        subscriptionValidTo: null,
        loyalStatus: null,
        loyalFrom: null,
      },
      order: {
        by: null,
        sequence: {
          asc: 'ASC',
          desc: 'DESC',
        },
      },
      getUsersResponse: {},
      searching: false,
      wentWrong: false,
      tableHead: [
        {
          key: 'userId',
          text: 'User ID',
          shown: true,
          required: true,
        },
        {
          key: 'email',
          text: 'Email',
          shown: false,
        },
        {
          key: 'phone',
          text: 'Phone',
          shown: false,
        },
        {
          key: 'firstName',
          text: 'First name',
          shown: false,
        },
        {
          key: 'lastName',
          text: 'Last name',
          shown: false,
        },
        {
          key: 'subscriptionAccess',
          text: 'Subscription Access',
          shown: false,
        },
        {
          key: 'subscriptionType',
          text: 'Subscription type',
          shown: false,
        },
        {
          key: 'key',
          text: 'Key',
          shown: false,
        },
        {
          key: 'loyalStatus',
          text: 'Loyal Status',
          shown: false,
        },
        {
          key: 'lastTimeLoggedIn',
          text: 'lastTimeLoggedIn',
          shown: false,
        },
      ],
      totalUserCount: 0,
    };
  },
  activated() {
    this.selected = this.selectedUsers;
    this.checkCheckbox();
  },
  deactivated() {
    this.$emit('setSelectedUsers', this.selected);
    this.$emit('setTableHead', this.tableHeadElements);
  },
  created() {
    this.searching = true;
    this.search();
  },
  computed: {
    tableHeadElements () {
      return this.tableHead.filter(item => {
        if (item.shown || item.required) {
          return item
        }
      });
    },
    getUsersQuery() {
      let chosenSelectData = [];
      for (const item of this.tableHead) {
        if (item.shown) {
          chosenSelectData.push(item.key);
        }
      }

      console.log('chosenSelectData', chosenSelectData);
      return `
        query (
            $limit: Int
            $offset: Int
            $orderBy: UserAndProductFields
            $order: OrderAscDsc
            $filter: UserFilterFunctions
            $filterParameter: String
            $product: [String]!
            $userId: [Int]
            $firstName: String
            $lastName: String
            $gender: String
            $birthday: String
            $email: String
            $phone: String
            $created: String
            $modified: String

            $productUserKey: String
            $key: String
            $subscriptionRecurring: Boolean
            $subscriptionAccess: Boolean
            $subscriptionType: String
            $subscriptionValidFrom: String
            $subscriptionValidTo: String
            $loyalStatus: Boolean
            $loyalFrom: String
            $productTrial: Boolean
            $productTrialValidTo: String
            $lastTimeLoggedIn: String
        ){
            getUsers(
                input: {
                    limit: $limit
                    offset: $offset
                    orderBy: $orderBy
                    order: $order
                    filter: $filter
                    filterParameter: $filterParameter
                    product: $product
                    userId: $userId
                    firstName: $firstName
                    lastName: $lastName
                    gender: $gender
                    birthday: $birthday
                    email: $email
                    phone: $phone
                    created: $created
                    modified: $modified
                    productUserKey: $productUserKey
                    key: $key
                    subscriptionRecurring: $subscriptionRecurring
                    subscriptionAccess: $subscriptionAccess
                    subscriptionType: $subscriptionType
                    subscriptionValidFrom: $subscriptionValidFrom
                    subscriptionValidTo: $subscriptionValidTo
                    loyalStatus: $loyalStatus
                    loyalFrom: $loyalFrom
                    productTrial: $productTrial
                    productTrialValidTo: $productTrialValidTo
                    lastTimeLoggedIn: $lastTimeLoggedIn
                }
            ) {
                users {
                    userId
                    ${chosenSelectData.join("\r\n")}
                }
                response{
                    status
                    message
                    error{
                        message
                        origin
                    }
                }
                pager{
                    count
                    limit
                    offset
                }
            }
        }
      `;
    },
  },
  watch: {
    'filter.filter'(newValue){
      if (newValue === 'HaveSubscriptionWithCancelledRecurring') {
        this.filter.subscriptionType = null;
        this.filter.subscriptionAccess = null;
        this.minDate = format (
          new Date(),
          'YYYY-MM-DD'
        );
        this.maxDate = null;
        this.textForPredefinedField = 'Subscription to about to expiry before';
      }
      if (newValue === 'ExSubscribersNotRenewedInSpecificTime') {
        this.filter.subscriptionType = null;
        this.filter.subscriptionAccess = null;
        this.minDate = null;
        this.maxDate = format (
          new Date(),
          'YYYY-MM-DD'
        );
        this.textForPredefinedField = 'Ex subscribers not renewed from';
      }
    },
    currentPage() {
      this.filter.offset = (this.currentPage - 1) * this.filter.limit;
      this.search();
    },
  },
  methods: {
    selectAllUserData() {
      for (const key in this.tableHead) {
        this.tableHead[key].shown = true;
      }
    },
    selectUser(user) {
      if (this.selected[user.userId]) {
        delete this.selected[user.userId];
      } else {
        this.selected[user.userId] = user;
      }
      this.checkCheckbox();
    },
    reset() {
      this.clearFilter();
      this.searching = true;
      this.search();
    },
    checkCheckbox() {
      if (Object.keys(this.selected).length > 0) {
        let inTableFound = 0;
        this.users.forEach((user) => {
          if (this.selected[user.userId]) {
            inTableFound += 1;
          }
        });
        if (inTableFound === 0) {
          this.usersSelected.all = false;
          this.usersSelected.some = false;
        } else if (inTableFound === this.users.length) {
          this.usersSelected.all = true;
          this.usersSelected.some = false;
        } else {
          this.usersSelected.all = false;
          this.usersSelected.some = true;
        }
      } else {
        this.usersSelected.all = false;
        this.usersSelected.some = false;
      }
    },
    orderBy(item) {
      if (this.filter.orderBy !== item) {
        this.filter.order = this.order.sequence.asc;
        this.filter.orderBy = item;
      } else if (this.filter.orderBy === item) {
        if (this.filter.order === this.order.sequence.asc) {
          this.filter.order = this.order.sequence.desc;
          this.filter.orderBy = item;
        } else {
          this.filter.orderBy = null;
          this.filter.order = null;
        }
      }
      this.search();
    },
    search() {
      this.wentWrong = false;
      this.searching = true;
      if (this.checkValidation()) {
        this.getUsers().then(() => {
          this.searching = false;
          if (!this.wentWrong) {
            this.users = this.getUsersResponse.data.data.getUsers.users;
            this.totalUserCount = this.getUsersResponse.data.data.getUsers.pager.count;
            this.checkCheckbox();
          }
        });
      } else {
        this.searching = false;
      }
    },
    async getUsers() {
      const variables = {};
      Object.keys(this.filter).forEach((key) => {
        if (
          this.filter[key] !== ''
          && this.filter[key] !== '-'
          && this.filter[key] !== null
          && this.filter[key] !== 'null'
          &&  key !== 'userId'
          &&  key !== 'subscriptionValidFrom'
          &&  key !== 'subscriptionValidTo'
        ) {
          variables[key] = this.filter[key];
        } else if (key === 'userId') {
          let userIds = [];
          this.filter[key].forEach((item) => {
            if (Number(item) == item) {
              userIds.push(Number(item));
            }
          });
          if (userIds.length > 0) {
            variables[key] = userIds;
          }
        } else if (key === 'subscriptionValidFrom' || key === 'subscriptionValidTo') {
          if (this.filter[key] !== null) {
            const start = this.filter[key].start;
            const end = this.filter[key].end;
            variables[key] = `${start} and ${end}`;
          }
        }
      });
      const headers = {};
      headers.Authorization = `Bearer ${this.user.loginApiToken}`;
      await axios({
        headers,
        url: 'https://api.delfi.lv/payment-processing/v1/graphql',
        method: 'post',
        data: {
          query: this.getUsersQuery,
          variables,
        },
      }).then(
        (response) => {
          if ((typeof response.data.errors !== 'undefined' && response.data.errors.length > 0) || response.data.data.getUsers.response.status === 'failed') {
            this.logProcess(`error`);
            this.wentWrong = true;
          } else {
            this.getUsersResponse = response;
            this.logProcess('ok');
          }
        },
        (error) => {
          this.wentWrong = true;
          this.logProcess(`error: ${error}`);
          console.log('getUsers error', error);
        }
      );
    },
    async logProcess(status) {
      const headers = {};
      headers.Authorization = `Bearer ${this.user.loginApiToken}`;
      await axios({
        headers,
        url: 'https://api.delfi.lv/payment-processing/v1/graphql',
        method: 'post',
        data: {
          query: logProcessing,
          variables: JSON.stringify({
            createdBy: `${this.user.id}`,
            process: 'ADD',
            action: 'getUsers',
            /* content: `Status: ${status}` */
          }),
        },
      }).then(
        (error) => {
          console.log('logProcess error', error);
        }
      );
    },
    selectUserList() {
      this.searching = true;
      const self = this;
      setTimeout(function(){
        self.updateUserList();
      }, 1);
    },
    updateUserList() {
      if (this.usersSelected.all) {
        this.users.forEach((user) => {
          delete this.selected[user.userId];
        });
      } else {
        this.users.forEach((user) => {
          this.selected[user.userId] = user;
        });
      }
      this.checkCheckbox();
      this.searching = false;
    },
    clearFilter() {
      Object.keys(this.filter).forEach((key) => {
        if (key === 'limit') {
          this.filter[key] = 100;
        } else if (key === 'userId') {
          this.filter[key] = [];
        } else if (key === 'subscriptionValidFrom' || key === 'subscriptionValidTo') {
          this.filter[key] = null;
        } else if (key === 'product') {
          this.filter[key] = ['DELFIPLUS'];
        } else {
          this.filter[key] = '';
        }
      });
    },
  },
};
</script>

<style scoped>
    .table-hover th:hover {
        background-color: #f9f9f9;
    }
    .table-container {
        position: relative;
        box-shadow: inset 0 -9px 9px -7px rgba(0,0,0,0.7);
    }
</style>

