<template>
  <b-col>
    <h1 v-if="category.id !== ''">Edit category {{category.id}}</h1>
    <h1 v-else>Create category</h1>
    <b-row>
      <b-col cols="12">
        <b-row>
          <form action="">

          </form>
          <!-- Title -->
          <b-form-group
            id="input-group-title"
            class="col-12"
            label="Title:"
            label-for="input-title"
          >
            <b-row>
              <b-form-input
                id="input-title"
                v-model="category.title"
                required
                pattern="[^\x22]+"
                class="category-input col-12"
                maxlength="64"
                title="Don't use double quotes!"
                placeholder="Enter title"
              >
              </b-form-input>
              <b-col cols="12">
                <b-row>
                  <b-col cols="10">
                    <b-form-text id="input-live-help">max 64 characters</b-form-text>
                  </b-col>
                  <b-col cols="2">
                    <div class="text-size-12 text-right pt-2 pb-3 pr-3 position-relative">
                      {{category.title.length}} / 64
                    </div>
                  </b-col>
                </b-row>
              </b-col>
            </b-row>
          </b-form-group>
          <!-- Category type -->
          <b-form-group
            id="input-group-type"
            class="col-3"
            label="Category type:"
            label-for="input-type"
          >
            <b-row>
              <b-form-select
                id="input-type"
                v-model="category.type"
                required
                class="category-input col-12"
                :options="category_types"
              >
              </b-form-select>
            </b-row>
          </b-form-group>
          <!-- Language -->
          <b-form-group
            id="input-group-language"
            class="col-3"
            label="Language:"
            label-for="input-language"
          >
            <b-row>
              <b-form-select
                id="input-type"
                v-model="selected_language"
                required
                class="category-input col-12"
                :options="languages"
              >
              </b-form-select>
            </b-row>
          </b-form-group>
          <!-- Channel ID -->
          <b-form-group
            id="input-group-channel"
            class="col-6"
            label="Channel:"
            label-for="input-channel"
          >
            <b-row>
              <b-form-select
                id="input-channel"
                v-model="category.channel_id"
                required
                class="category-input col-12"
                :options="channels[selected_language]"
              >
              </b-form-select>
            </b-row>
          </b-form-group>
          <!-- Meta description -->
          <b-form-group
            id="input-group-meta"
            class="col-12"
            label="Meta description:"
            label-for="input-meta"
          >
            <b-row>
              <b-form-input
                id="input-title"
                v-model="category.meta_description"
                required
                pattern="[^\x22]+"
                class="category-input col-12"
                title="Don't use double quotes!"
                placeholder="Enter meta description"
              >
              </b-form-input>
            </b-row>
          </b-form-group>
          <!-- Route with full example -->
          <b-form-group
            id="input-group-route"
            class="col-12"
            label="Route:"
            label-for="input-route"
          >
            <b-row>
              <b-form-input
                id="input-route"
                v-model="category.route"
                required
                class="category-input col-12"
                maxlength="64"
                pattern="^[A-Za-z0-9-]+$"
                title="Don't use double quotes!"
                placeholder="Enter route"
                v-on:keypress="isAllowedLetterInRoute($event)"
              >
              </b-form-input>
              <b-col cols="12">
                <b-row>
                  <b-col cols="4">
                    <b-form-text id="input-live-help">Full routes</b-form-text>
                  </b-col>
                  <b-col cols="12">
                    <div class="text-size-12 text-right pt-2 pb-3 pr-3 position-relative" v-if="channels[selected_language] && channels[selected_language][category.channel_id]">
                      <a :href="channels[selected_language][category.channel_id].live_link + category.route + '/'">{{channels[selected_language][category.channel_id].live_link}}{{category.route}}/</a>
                    </div>
                  </b-col>
                  <b-col cols="12">
                    <div class="text-size-12 text-right pt-2 pb-3 pr-3 position-relative" v-if="channels[selected_language] && channels[selected_language][category.channel_id]">
                      <a :href="channels[selected_language][category.channel_id].neo_link + category.route + '/'">{{channels[selected_language][category.channel_id].neo_link}}{{category.route}}/</a>
                    </div>
                  </b-col>
                </b-row>
              </b-col>
            </b-row>
          </b-form-group>
          <!-- Buttons -->
          <b-row class="w-100">
            <b-col cols="12">
              <b-row class="mb-1">
                <b-col cols="12">
                  <b-button @click="copyToClipboard('dfw')" variant="light">
                    Copy dfw:routes command
                  </b-button>
                  <b-button v-if='category.generated_route !== ""' class='ml-2' @click="copyToClipboard('trigger')" variant="light">
                    Copy trigger command
                  </b-button>
                  <b-button class="ml-3" @click="resetToSavedValues" variant="light" v-if="category.id">
                    <span>Reset to last save</span>
                  </b-button>
                  <b-button class="ml-3" @click="openLink()" variant="light" v-if="admin_category_id">
                    <span>Open category in admin</span>
                  </b-button>
                </b-col>
              </b-row>

              <router-link :to="{name: 'categories'}"  class="btn btn-light">
                Cancel
              </router-link>
              <b-button class="ml-3" @click="testRoute" variant="success">
                <span>Test Route</span>
              </b-button>
              <b-button class="ml-3" @click="save" :disabled="loading.save || !button_statuses.tested" variant="primary">
                <span v-if="loading.save" class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
                <span>Save</span>
              </b-button>
              <b-button class="ml-3" @click="generate" :disabled="loading.generate || !button_statuses.saved" variant="primary">
                <span v-if="loading.generate" class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
                <span>Generate</span>
              </b-button>
            </b-col>
          </b-row>
          <!-- Special projects -->
          <SpecialForm v-if="category.type != 'default'" :special_admin_category_id="category.id" :user="user"></SpecialForm>
        </b-row>
      </b-col>
    </b-row>
  </b-col>
</template>
<script>
    import axios from 'axios';
    import SpecialForm from '../special-category/SpecialForm';

    export default {
        data() {
            return {
                category: {
                    id: null,
                    title: '',
                    type: 'default',
                    channel_id: 1,
                    route: '',
                    meta_description: '',
                    generated_route: '',
                    triggered: false,
                },
                old_channel_id: 0,
                selected_language: 'LV',
                channels: {},
                admin_category_id: null,
                category_types: [
                    {value: 'default', text: 'Default'},
                    {value: 'specproject', text: 'Specproject'},
                    {value: 'tilda', text: 'Tilda'},
                ],
                languages: [
                    {value: 'LV', text: 'Latvian'},
                    {value: 'RU', text: 'Russian'},
                ],
                url: '//neo.delfi.lv/misc/axios-requests/special-admin.php',
                loading: {
                    save: false,
                    generate: false,
                },
                button_statuses: {
                    tested: false,
                    saved: false,
                }
            };
        },
        components: {
          SpecialForm
        },
        props: {
            user: Object,
        },
        watch: {
            'category.route':
                function(val) {
                    this.checkRouteStatus();
                },
            'category.channel_id':
                function(val) {
                    if(this.old_channel_id && this.old_channel_id == this.category.channel_id) {
                        this.checkRouteStatus();
                    } else {
                        this.button_statuses.tested = false;
                        this.button_statuses.saved = false;
                    }
                },
        },
        created() {
            axios({
                url: this.url,
                method: 'POST',
                data: JSON.stringify({
                    action: 'GET CHANNELS'
                }),
            }).then(
                (response) => {
                    this.channels = response.data;
                    if(this.$route.params.id > 0){
                        this.getCategory(this.$route.params.id);
                    }
                },
                (error) => {
                    console.log('error', error);
                    window.alert('Cannot get channels');
                }
            );
        },
        methods: {
            //Check if new route and old route are the same
            checkRouteStatus(){
                if(this.category.generated_route && this.old_channel_id && this.old_channel_id == this.category.channel_id){
                    let old_route = this.category.generated_route.split("/"),
                        newRoute = this.category.route.split("/"),
                        count = newRoute.length,
                        old_route_fixed = '';

                    for(let i = 0; i < count; i++){
                        old_route_fixed += old_route[old_route.length - 2 - i];
                        if(i + 1 != count){
                            old_route_fixed += "/";
                        }
                    }

                    if(old_route_fixed == this.category.route) {
                        this.button_statuses.tested = true;
                        this.button_statuses.saved = true;
                    } else {
                        this.button_statuses.tested = false;
                        this.button_statuses.saved = false;
                    }

                } else {
                    this.button_statuses.tested = false;
                    this.button_statuses.saved = false;
                }
            },

            //Show error / success popup
            showPopup(type, message){
                if(type == 'success'){
                    this.$bvToast.toast(message, {
                        title: `Success!`,
                        variant: 'success',
                        solid: true,
                        autoHideDelay: 10000,
                    });
                }else if(type == 'error'){
                    this.$bvToast.toast(message, {
                        title: `Erorr!`,
                        variant: 'danger',
                        solid: true,
                        autoHideDelay: 10000,
                    });
                }
            },

            //Get category information from DB
            async getCategory(id) {
                await axios({
                    url: this.url,
                    method: 'POST',
                    data: JSON.stringify({
                        action: 'GET SPECIFIC',
                        id: id
                    }),
                }).then(
                    (response) => {
                        if(!response.data.error) {
                            this.category = response.data;
                            this.old_channel_id = this.category.channel_id;
                            if(response.data.admin_category_id) this.admin_category_id = response.data.admin_category_id;
                            this.button_statuses.tested = true;
                            this.button_statuses.saved = true;

                            if(typeof this.channels["LV"][this.category.channel_id] == "undefined") {
                                this.selected_language = "RU";
                            }
                        }else{
                            this.$router.push({name: 'categories'});
                        }
                    },
                    (error) => {
                        console.log('error', error);
                        this.$router.push({name: 'categories'});
                    }
                );
            },

            //Check input in row
            isAllowedLetterInRoute(e){
                let char = e.key;
                if (/^[A-Za-z0-9-]+$/.test(char)) return true;
                else e.preventDefault();
            },

            //Button functions
            async testRoute(){
                let category_id = (this.category.id) ? this.category.id : 0;
                await axios({
                    url: this.url,
                    method: 'POST',
                    data: JSON.stringify({
                        action: 'TEST ROUTE',
                        channel_id: this.category.channel_id,
                        route: this.category.route,
                        category_id: category_id,
                    }),
                }).then(
                    (response) => {
                        if(response.data.error){
                            this.button_statuses.tested = false;
                            this.showPopup('error', response.data.error);
                        } else if(response.data.success) {
                            this.button_statuses.tested = true;
                            this.showPopup('success', response.data.success);
                        }
                    },
                    (error) => {
                        console.log('error', error);
                        window.alert('Failed to check route');
                    }
                );
            },
            async save(){
                if(this.checkValidation()) {
                    let action = 'ADD';
                    if (this.category.id) {
                        action = 'UPDATE';
                    }
                    await axios({
                        url: this.url,
                        method: 'POST',
                        data: JSON.stringify({
                            action: action,
                            category: this.category,
                            user_id: this.user.id
                        }),
                    }).then(
                        (response) => {
                            if(response.data.error){
                                this.showPopup('error', response.data.error);
                            } else if (response.data.category_db_id) {
                                this.showPopup('success', 'Successfully added to DB');
                                this.category.id = response.data.category_db_id;
                                this.button_statuses.saved = true;
                            } else if(response.data.success) {
                                this.showPopup('success', response.data.success);
                                this.button_statuses.saved = true;
                            }
                        },
                        (error) => {
                            console.log('error', error);
                            window.alert('Failed to save to DB');
                            this.button_statuses.saved = false;
                        }
                    );
                }
            },
            async generate(){
                if(!window.ldapUser) window.ldapUser = {};
                await axios({
                    url: this.url,
                    method: 'POST',
                    data: JSON.stringify({
                        action: 'GENERATE',
                        category_id: this.category.id,
                        user_id: this.user.id,
                        ldapUsername: window.ldapUser.username,
                        ldapPassword: window.ldapUser.password
                    }),
                }).then(
                    (response) => {
                        if(response.data.success){
                            let message = response.data.success;
                            if(response.data.admin_id) {
                                message += "Admin ID: " + response.data.admin_id;
                                this.admin_category_id = response.data.admin_id;
                            }
                            this.showPopup('success', message);
                        }else if(response.data.error){
                            this.showPopup('error', response.data.error);
                        }
                    },
                    (error) => {
                        console.log('error', error);
                        window.alert('Failed to save to DB');
                        this.button_statuses.saved = false;
                    }
                );
            },
            resetToSavedValues(){
                if(this.category.id) {
                    this.getCategory(this.category.id);
                }
            },
            openLink(){
                window.open('https://admin.neo.delfi.lv/category/index/edit/channel/' + this.category.channel_id + '/id/' + this.admin_category_id);
            },

            copyToClipboard(type){
                var text = '';
                if(type === 'dfw'){
                  text = 'dfw routes:trigger';
                } else if(type === 'trigger') {
                  text = 'trigger ' + this.category.generated_route;
                }
                var input_temp = document.createElement('textarea');
                input_temp.innerHTML = text;
                document.body.appendChild(input_temp);
                input_temp.select();
                document.execCommand('copy');
                document.body.removeChild(input_temp);
            },

            //Validation
            checkValidation() {
                let valid = true;
                document.querySelectorAll('.category-input').forEach((item) => {
                    if (!item.checkValidity()) {
                        valid = false;
                        item.reportValidity();
                    }
                });
                return valid;
            },
        },
    };
</script>

