<template>
  <div>
    <b-row>
      <h2 class="pt-2">
        New Special Admin
      </h2>
    </b-row>
    <b-row>
      <router-link :to="{name: 'category-form-new'}"  class="ml-auto btn btn-primary">
        New Category
      </router-link>
    </b-row>


    <table v-if="itemsList.length > 0" class="table table-hover mt-3">
      <thead>
      <tr>
        <th scope="col">Item ID</th>
        <th scope="col">Title</th>
        <th scope="col">Type</th>
        <th scope="col">Channel</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="item in itemsList" :key="item.id">
        <th scope="row">{{item.id}}</th>
        <th scope="row">{{item.title}}</th>
        <th scope="row">{{item.type}}</th>
        <th scope="row">{{item.channel_id}}</th>
        <td>
          <button type="button"
                  class="btn btn-sm btn-primary"
                  @click="$router.push({ name: 'category-form', params: { id: item.id } })"
          >Edit</button>
<!--          <button type="button"-->
<!--                  class="btn btn-sm btn-danger ml-3"-->
<!--                  @click="removeItemPopup(item.id)"-->
<!--          ><i style="font-size: 100%;" class="icon-trash"></i></button>-->
        </td>
      </tr>
      </tbody>
    </table>
    <div v-else class="font-italic text-center text-muted">
      List is empty
    </div>
<!--    <b-modal id="bv-modal-delete" hide-footer>-->
<!--      <div class="d-block text-center">-->
<!--        <h3>Are you sure?</h3>-->
<!--      </div>-->
<!--      <b-button class="mt-3" block @click="$bvModal.hide('bv-modal-delete')">Cancel</b-button>-->
<!--      <b-button class="mt-3" block @click="removeItem()">Yes</b-button>-->
<!--    </b-modal>-->
  </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: 'Index',
        data() {
            return {
                itemsList: [],
                itemId: null,
                url: '//neo.delfi.lv/misc/axios-requests/special-admin.php'
            };
        },
        props:{
            user: Object,
        },
        created() {
            this.getList();
        },
        methods: {
            async getList() {
                await axios({
                    url: this.url,
                    method: 'post',
                    data: JSON.stringify({
                        action: 'GET'
                    }),
                }).then(
                    (response) => {
                        this.itemsList = response.data;
                    },
                    (error) => {
                        this.$bvToast.toast('Cannot read items, please check if you`re connected to VPN', {
                            title: `Error!`,
                            variant: 'danger',
                            solid: true,
                            autoHideDelay: 10000,
                        });
                    }
                );
            },
            // removeItemPopup(id){
            //     this.itemId = id;
            //     this.$bvModal.show('bv-modal-delete');
            // },
            // async removeItem(){
            //     if(!window.ldapUser) window.ldapUser = {};
            //     await axios({
            //         url: this.url,
            //         method: 'post',
            //         data: JSON.stringify({
            //             action: 'DELETE',
            //             category_id: this.itemId,
            //             ldapUsername: window.ldapUser.username,
            //             ldapPassword: window.ldapUser.password
            //         }),
            //     }).then(
            //         (response) => {
            //             this.$router.go(0);
            //         },
            //         (error) => {
            //             console.log('error', error);
            //         }
            //     );
            // }
        },
    };
</script>
