<template>
    <vue-excel-xlsx
            :class="className"
            :data="items"
            :columns="columns"
            :filename="'filename'"
            :sheetname="'sheetname'">
        <slot></slot>
    </vue-excel-xlsx>
</template>

<script>

export default {
  name: 'ExcelExport',
  props: {
    items: Array,
    className: String,
  },
  data() {
    return {
      columns: [
        {
          label: 'Code',
          field: 'code',
        },
        {
          label: 'prefix',
          field: 'prefix',
        },
        {
          label: 'tag',
          field: 'tag',
        },
        {
          label: 'type',
          field: 'type',
        },
        {
          label: 'product',
          field: 'product',
        },
        {
          label: 'created',
          field: 'created',
        },
        {
          label: 'validFrom',
          field: 'validFrom',
        },
        {
          label: 'validTo',
          field: 'validTo',
        },
        {
          label: 'activated',
          field: 'activated',
        },
        {
          label: 'activatedBy',
          field: 'activatedBy',
        },
      ],
    };
  },
};
</script>
