<template>
    <fragment>
        <td style="width: 37px;">
            <div class="form-check">
                <input class="form-check-input"
                       type="checkbox"
                       :checked="selected[source.code]"
                       @change="selectItem(source)">
            </div>
        </td>
        <td v-for="tableHeadElement in tableHeadElements"
            :key="tableHeadElement.key"
            class="table-cell"
            :class="tableHeadElement.key"
        >
            <span v-if="tableHeadElement.key === 'product'">
                <span v-if="source[tableHeadElement.key] === 'DELFIPLUS'" class="delfi-plus-birka border border-lightning-yellow text-lightning-yellow">PLUS</span>
                <span v-else class="mvp-birka mr-2">
                    <img src="https://g2.delphi.lv/mvp/svg/mvp-white-with-green-bg.svg" alt="MVP." class="loading" data-was-processed="true">
                </span>
            </span>
            <span v-else>{{source[tableHeadElement.key]}}</span>
        </td>
    </fragment>
</template>

<script>
  import { Fragment } from 'vue-fragment'

  export default {
    name: 'item-component',
    components: { Fragment },
    props: {
      source: {
        type: Object,
        default () {
          return {}
        }
      },
      tableHeadElements: Array,
      selected: Object,
      selectItem: Function,
    },
  }
</script>
