<template>
    <div>
        <div class="row">
            <!--Clear filter-->
            <div class="col-12">
                <div class="text-right">
                    <u>
                        <span class="cursor-pointer" @click="clearFilter">Clear filter</span>
                    </u>
                </div>
            </div>
            <!--Code-->
            <div class="form-group col-4">
                <label for="promoCode">Code</label>
                <input type="text"
                       class="form-control form-control-sm validate-input"
                       id="promoCode"
                       v-model="filter.code">
            </div>
            <!--Prefix-->
            <div class="form-group col-4">
                <label for="promoPrefix">Prefix</label>
                <input type="text"
                       class="form-control form-control-sm validate-input"
                       id="promoPrefix"
                       v-model="filter.prefix">
            </div>
            <!--Tag-->
            <div class="form-group col-4">
                <label for="promoTag">
                    Tag
                    <b-icon id="tag-info" icon="question-circle" aria-hidden="true"></b-icon>
                    <b-tooltip target="tag-info" triggers="hover">
                        Dynamic field (data from database)
                    </b-tooltip>
                </label>
                <div v-if="getPromoCodeTagsStatus.loading"
                     class="border-1 border rounded py-1 d-flex justify-content-center">
                    <b-spinner label="Loading..."></b-spinner>
                </div>
                <div v-else-if="getPromoCodeTagsStatus.wentWrong"
                     class="border-1 border rounded py-1 d-flex text-center text-danger">
                    Can't load tags
                </div>
                <select v-else
                        class="form-control form-control-sm validate-input"
                        id="promoTag"
                        v-model="filter.tag">
                    <option value=""></option>
                    <option v-for="(item, index) in promoCodeTags"
                            :value="item.tag"
                            :key="index">
                        {{item.tag}}
                    </option>
                </select>
            </div>
            <!--Product-->
            <div class="form-group col-4">
                <label for="promoProduct">Product</label>
                <select class="form-control form-control-sm validate-input"
                        id="promoProduct"
                        v-model="filter.product">
                    <option value=""></option>
                    <option value="DELFIPLUS">D+</option>
                    <option value="MVP">MVP</option>
                </select>
            </div>
            <!--Type-->
            <div class="form-group col-4">
                <label for="promoType">Type</label>
                <select class="form-control form-control-sm validate-input"
                        id="promoType"
                        v-model="filter.type">
                    <option value=""></option>
                    <option value="sub:1d">1 day</option>
                    <option value="sub:7d">7 days</option>
                    <option value="sub:14d">14 days</option>
                    <option value="sub:28d">28 days</option>
                    <option value="sub:84d">84 days</option>
                    <option value="sub:168d">168 days</option>
                    <option value="sub:364d">364 days</option>
                </select>
            </div>
            <!--Status-->
            <div class="form-group col-4">
                <label for="promoStatus">Status</label>
                <select class="form-control form-control-sm validate-input"
                        id="promoStatus"
                        v-model="filter.status">
                    <option value=""></option>
                    <option value="NotUsed">Not used</option>
                    <option value="Used">Used</option>
                    <option value="Expired">Expired</option>
                </select>
            </div>
            <!--promo code valid from-->
            <div class="form-group col-4">
                <label for="promoValidFrom">Valid from (range):</label>
                <VueCtkDateTimePicker
                        :formatted="'YYYY-MM-DD'"
                        format="YYYY-MM-DD"
                        id="promoValidFrom"
                        v-model="filter.validFrom"
                        :only-date="(true)"
                        :no-label="true"
                        label="Select date"
                        :auto-close="true"
                        range
                />
            </div>
            <!--promo code valid to-->
            <div class="form-group col-4">
                <label for="promoValidTo">Valid to (range):</label>
                <VueCtkDateTimePicker
                        :formatted="'YYYY-MM-DD'"
                        format="YYYY-MM-DD"
                        id="promoValidTo"
                        v-model="filter.validTo"
                        :only-date="(true)"
                        :no-label="true"
                        label="Select date"
                        :auto-close="true"
                        range
                />
            </div>
            <!--promo code activated-->
            <div class="form-group col-4">
                <label for="promoActivated">Activated (range):</label>
                <VueCtkDateTimePicker
                        :formatted="'YYYY-MM-DD'"
                        format="YYYY-MM-DD"
                        id="promoActivated"
                        v-model="filter.activated"
                        :only-date="(true)"
                        :no-label="true"
                        label="Select date"
                        :auto-close="true"
                        range
                />
            </div>
            <!--hide columns-->
            <!--<div class="row mb-3">
                <div class="col-12">
                    Necessary user data
                    <b-icon id="necessary-data-info" icon="question-circle" aria-hidden="true"></b-icon>
                    <b-tooltip target="necessary-data-info" triggers="hover">
                        Less data - faster search!
                    </b-tooltip>
                    <div class="d-flex">
                        <button class="btn btn-sm btn-outline-primary ml-auto"
                                @click="selectAllItemData">
                            Select all
                        </button>
                    </div>
                </div>
                <div v-for="item in tableHead" :key="item.key" class="col-3">
                    <div class="form-check">
                        <input type="checkbox"
                               class="form-check-input"
                               :id="item.key"
                               :disabled="item.required"
                               v-model="item.shown">
                        <label class="form-check-label" :for="item.key">
                            {{item.text}}
                        </label>
                    </div>
                </div>
            </div>-->
        </div>
        <div class="form-group d-flex">
            <button class="btn btn-primary"
                    @click="search">
                <b-icon icon="search" aria-hidden="true"></b-icon>
                Search
            </button>
            <span class="ml-auto"></span>
        </div>
        <div class="row">
            <!--limit-->
            <div class="col-6">
                <div class="dataTables_length" id="tableLimit">
                    <label>
                        Show
                        <select aria-controls="tableLimit"
                                v-model.number="filter.limit"
                                @change="search">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="200">200</option>
                            <option value="300">300</option>
                            <option value="400">400</option>
                            <option value="500">500</option>
                            <option value="1000">1'000</option>
                            <option value="2000">2'000</option>
                            <option value="3000">3'000</option>
                            <option value="4000">4'000</option>
                            <option value="5000">5'000</option>
                            <option value="10000">10'000</option>
                        </select>
                        entries
                    </label>
                </div>
            </div>
            <!--table info-->
            <div class="col-6">
                <div class="dataTables_length text-right" id="tableLength">
                    <strong>{{totalItemsCount}}</strong> rows in the table
                </div>
            </div>
        </div>
        <div v-if="wentWrong" class="font-weight-bold text-center text-danger">
            Something went wrong... Try again or reload page.
        </div>
        <div v-else-if="searching" class="font-italic text-center text-muted">
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <div v-else style="overflow-x: scroll;">
            <div v-if="promoCodes.length > 0">
                <b-pagination
                        v-model="currentPage"
                        :total-rows="totalItemsCount"
                        :per-page="filter.limit"
                        align="center"
                        first-number
                        last-number
                ></b-pagination>
                <div class="overflow-auto table-container">
                    <div>
                        <table class="table table-hover">
                            <virtual-list
                                    :data-key="'code'"
                                    :data-sources="promoCodes"
                                    :data-component="itemComponent"
                                    :estimate-size="46"
                                    root-tag="div"
                                    class="virtual-list-table b-table table-striped table-hover"
                                    wrap-tag="tbody"
                                    item-tag="tr"
                                    header-tag="thead"
                                    :extra-props="{selected, tableHeadElements, selectItem}"
                            >
                                <tr slot="header">
                                    <th scope="col" style="width: 37px;">
                                        <div class="form-check">
                                            <input class="form-check-input"
                                                   id="selectAllItems"
                                                   type="checkbox"
                                                   :indeterminate.prop="itemsSelected.some"
                                                   :checked="itemsSelected.all"
                                                   @click="selectItemList">
                                            <label class="form-check-label" for="selectAllItems">
                                            </label>
                                        </div>
                                    </th>
                                    <th v-for="value in tableHeadElements"
                                        scope="col"
                                        class="cursor-pointer"
                                        @click="orderBy(value.key)"
                                        :key="value.key"
                                    >
                                        {{value.text}}
                                        <span v-if="filter.orderBy === value.key">
                                                    <i class="text-size-3 pl-1 position-absolute"
                                                       :class="{
                                                            'icon-arrows-thin-top': filter.order === 'DESC',
                                                            'icon-arrows-thin-bottom': filter.order === 'ASC'
                                                       }">
                                                    </i>
                                                </span>
                                    </th>
                                </tr>
                            </virtual-list>
                        </table>
                    </div>
                </div>
            </div>
            <div v-else class="text-center text-muted mt-4">
                <div>
                    <img src="https://g.delfi.lv/delfi-plus/icons/no-data.svg" alt="No data">
                </div>
                No data
            </div>
        </div>
        <b-modal id="bv-modal-delete" hide-footer>
            <div class="d-block text-center">
                <h3>Remove {{promoCodes.length}} codes from database?</h3>
            </div>
            <b-button class="mt-3" block @click="$bvModal.hide('bv-modal-delete')">Cancel</b-button>
            <b-button class="mt-3" block @click="deletePromoCodes(removeType)">Yes</b-button>
        </b-modal>
    </div>
</template>

<script>
  import axios from 'axios';
  import Item from '../Item';
  import deletePromoCodes from '../../../graphql/promo-code/deletePromoCodes.graphql';
  import getPromoCodes from '../../../graphql/promo-code/getPromoCodes.graphql';
  import getPromoCodeTags from '../../../graphql/promo-code/getPromoCodeTags.graphql';
  import VirtualList from 'vue-virtual-scroll-list';

  export default {
    name: 'CreateNotifications',
    props: {
      user: Object,
      selectedItems: Object,
    },
    components: {
      'virtual-list': VirtualList
    },
    created() {
      this.searching = true;
      this.search();
      this.getPromoCodeTagsStatus.loading = true;
      this.getPromoCodeTags().then(() => {
        this.getPromoCodeTagsStatus.loading = false;
      });
    },
    activated() {
      this.selected = this.selectedItems;
      this.search();
      this.checkCheckbox();
    },
    deactivated() {
      this.$emit('setSelectedItems', this.selected);
      this.$emit('setTableHead', this.tableHeadElements);
    },
    data() {
      return {
        currentPage: 1,
        totalItemsCount: 0,
        itemComponent: Item,
        getPromoCodesResponse: {},
        promoCodes: [],
        selected: {},
        filter: {
          limit: 100,
          offset: 0,
          orderBy: null,
          order: null,
          tag: null,
          product: null,
          prefix: null,
          code: null,
          validFrom: null,
          validTo: null,
          type: null,
          status: null,
          activated: null,
          activatedBy: null,
        },
        order: {
          by: null,
          sequence: {
            asc: 'ASC',
            desc: 'DESC',
          },
        },
        tableHead: [
          {
            key: 'code',
            text: 'Code',
            required: true,
            shown: true,
          },
          {
            key: 'tag',
            text: 'Tag',
            shown: true,
          },
          {
            key: 'prefix',
            text: 'Prefix',
            shown: true,
          },
          {
            key: 'type',
            text: 'Type',
            shown: true,
          },
          {
            key: 'product',
            text: 'Product',
            shown: true,
          },
          {
            key: 'created',
            text: 'Created',
            shown: true,
          },
          {
            key: 'validFrom',
            text: 'Valid from',
            shown: true,
          },
          {
            key: 'validTo',
            text: 'Valid to',
            shown: true,
          },
          {
            key: 'status',
            text: 'Status',
            shown: true,
          },
          {
            key: 'activated',
            text: 'Activated',
            shown: true,
          },
          {
            key: 'activatedBy',
            text: 'Activated by',
            shown: true,
          },
        ],
        itemsSelected: {
          all: false,
          some: false,
        },
        removeType: null,
        wentWrong: false,
        searching: false,
        codeToRemove: {},
        promoCodeTags: [],
        getPromoCodeTagsStatus: {
          wentWrong: false,
          loading: false,
        },
      };
    },
    watch: {
      currentPage() {
        this.filter.offset = (this.currentPage - 1) * this.filter.limit;
        this.search();
      },
    },
    computed: {
      tableHeadElements () {
        return this.tableHead.filter(item => {
          if (item.shown || item.required) {
            return item
          }
        });
      },
      promoCodesArray() {
        return this.promoCodes.map(e => e.code);
      },
      filterVariables() {
        const variables = {};
        Object.keys(this.filter).forEach((key) => {
          if (
            this.filter[key] !== ''
            && this.filter[key] !== '-'
            && this.filter[key] !== null
            && this.filter[key] !== 'null'
            &&  key !== 'userId'
            &&  key !== 'validFrom'
            &&  key !== 'validTo'
            &&  key !== 'activated'
          ) {
            variables[key] = this.filter[key];
          } else if (key === 'validFrom' || key === 'validTo' || key === 'activated') {
            if (this.filter[key] !== null) {
              const start = this.filter[key].start;
              const end = this.filter[key].end;
              variables[key] = `${start} and ${end}`;
            }
          }
        });
        return variables;
      },
    },
    methods: {
      search() {
        this.wentWrong = false;
        this.searching = true;
        if (this.checkValidation()) {
          this.getPromoCodes().then(() => {
            this.searching = false;
            if (!this.wentWrong) {
              this.promoCodes = this.getPromoCodesResponse.promoCodes;
              this.totalItemsCount = this.getPromoCodesResponse.pager.count;
              this.checkCheckbox();
            }
          });
        } else {
          this.searching = false;
        }
      },
      async getPromoCodes() {
        const headers = {};
        headers.Authorization = `Bearer ${this.user.loginApiToken}`;
        await axios({
          headers,
          url: 'https://api.delfi.lv/payment-processing/v1/graphql',
          method: 'post',
          data: {
            query: getPromoCodes,
            variables: this.filterVariables,
          },
        })
          .then(
            (response) => {
              if (
                (typeof response.data.errors !== 'undefined' && response.data.errors.length > 0)
                || response.data.data.getPromoCodes.response.status === 'failed'
              ) {
                console.log('getPromoCodes response', response);
                this.wentWrong = true;
              } else {
                this.getPromoCodesResponse = response.data.data.getPromoCodes;
              }
            },
            (error) => {
              this.wentWrong = true;
              console.log('getPromoCodes error', error);
            }
          );
      },
      async getPromoCodeTags() {
        const headers = {};
        headers.Authorization = `Bearer ${this.user.loginApiToken}`;
        await axios({
          headers,
          url: 'https://api.delfi.lv/payment-processing/v1/graphql',
          method: 'post',
          data: {
            query: getPromoCodeTags,
          },
        }).then(
          (response) => {
            if (
              (typeof response.data.errors !== 'undefined' && response.data.errors.length > 0)
              || response.data.data.getPromoCodeTags.response.status === 'failed'
            ) {
              console.log('getPromoCodeTags failed', response);
              this.getPromoCodeTagsStatus.wentWrong = true;
            } else {
              this.promoCodeTags = response.data.data.getPromoCodeTags.tags;
            }
          },
          (error) => {
            this.getPromoCodeTagsStatus.wentWrong = true;
            console.log('getPromoCodeTags error', error);
          }
        );
      },
      selectItem(item) {
        if (this.selected[item.code]) {
          delete this.selected[item.code];
        } else {
          this.selected[item.code] = item;
        }
        this.checkCheckbox();
      },
      selectItemList() {
        //this.searching = true;
        const self = this;
        setTimeout(function(){
          self.updateItemList();
        }, 1);
      },
      updateItemList() {
        if (this.itemsSelected.all) {
          this.promoCodes.forEach((item) => {
            delete this.selected[item.code];
          });
        } else {
          this.promoCodes.forEach((item) => {
            this.selected[item.code] = item;
          });
        }
        this.checkCheckbox();
        this.searching = false;
      },
      checkCheckbox() {
        if (Object.keys(this.selected).length > 0) {
          let inTableFound = 0;
          this.promoCodes.forEach((item) => {
            if (this.selected[item.code]) {
              inTableFound += 1;
            }
          });
          if (inTableFound === 0) {
            this.itemsSelected.all = false;
            this.itemsSelected.some = false;
          } else if (inTableFound === this.promoCodes.length) {
            this.itemsSelected.all = true;
            this.itemsSelected.some = false;
          } else {
            this.itemsSelected.all = false;
            this.itemsSelected.some = true;
          }
        } else {
          this.itemsSelected.all = false;
          this.itemsSelected.some = false;
        }
      },
      remove(type, code, index) {
        this.removeType = type;
        this.codeToRemove = {
          code,
          index,
        };
        this.$bvModal.show('bv-modal-delete');
      },
      async deletePromoCodes(type) {
        let arrayToRemove = [];
        if (type === 'all') {
          arrayToRemove = this.promoCodesArray;
        } else {
          arrayToRemove[0] = this.codeToRemove.code;
        }
        const headers = {};
        headers.Authorization = `Bearer ${this.user.loginApiToken}`;
        await axios({
          headers,
          url: 'https://api.delfi.lv/payment-processing/v1/graphql',
          method: 'post',
          data: {
            query: deletePromoCodes,
            variables: {
              codes: this.promoCodesArray,
            },
          },
        })
          .then(
            (response) => {
              if (
                (typeof response.data.errors !== 'undefined' && response.data.errors.length > 0)
                || response.data.data.deletePromoCodes.response.status === 'failed'
              ) {
                this.$bvToast.toast('Failed to remove promo code from database', {
                  title: `Error!`,
                  variant: 'danger',
                  solid: true,
                  autoHideDelay: 10000,
                });
              } else {
                if (type === 'all') {
                  this.promoCodes = [];
                } else {
                  this.promoCodes.slice(this.codeToRemove.index, 1);
                }
                this.$bvToast.toast('Promo code was removed from database', {
                  title: `Warning!`,
                  variant: 'warning',
                  solid: true,
                  autoHideDelay: 10000,
                });
                this.$bvModal.hide('bv-modal-delete');
              }
            },
            (error) => {
              this.$bvToast.toast('Failed to remove promo code from database', {
                title: `Error!`,
                variant: 'danger',
                solid: true,
                autoHideDelay: 10000,
              });
              console.log('error', error);
            }
          );
      },
      reset() {
        this.showPromoCodes = false;
        this.promoCodes = [];
      },
      orderBy(item) {
        if (item !== 'status') {
          if (this.filter.orderBy !== item) {
            this.filter.order = this.order.sequence.asc;
            this.filter.orderBy = item;
          } else if (this.filter.orderBy === item) {
            if (this.filter.order === this.order.sequence.asc) {
              this.filter.order = this.order.sequence.desc;
              this.filter.orderBy = item;
            } else {
              this.filter.orderBy = null;
              this.filter.order = null;
            }
          }
          this.search();
        } else {
          this.$bvToast.toast('Can\'t order by status', {
            title: `Warning!`,
            variant: 'warning',
            solid: true,
            autoHideDelay: 3000,
          });
        }
      },
      clearFilter() {
        Object.keys(this.filter).forEach((key) => {
          if (key === 'limit') {
            this.filter[key] = 100;
          } else {
            this.filter[key] = null;
          }
        });
      },
      selectAllItemData() {
        for (const key in this.tableHead) {
          this.tableHead[key].shown = true;
        }
      },
    },
  };
</script>

<style lang="scss">
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }

    .fade-enter, .fade-leave-to {
        opacity: 0;
    }
</style>
