<template>
    <div>
        <div v-if="items.length > 0">
            <div class="form-group d-flex">
                <div>
                    <button class="btn btn-outline-secondary mr-3"
                            @click="unselectAll">
                        <b-icon icon="table" aria-hidden="true"></b-icon>
                        Unselect
                    </button>
                    <export-button className="btn btn-outline-info mr-3"
                                   :items="items"
                                   :tableHead="tableHead">
                        <b-icon icon="download" aria-hidden="true"></b-icon>
                        Export
                    </export-button>
                    <button class="btn btn-outline-warning mr-3"
                            data-toggle="collapse" data-target="#collapseOne">
                        <b-icon icon="pencil" aria-hidden="true"></b-icon>
                        Edit
                    </button>
                    <button class="btn btn-outline-danger mr-3"
                            @click="remove('all')">
                        <b-icon icon="trash" aria-hidden="true"></b-icon>
                        Delete
                    </button>
                </div>
                <div class="ml-auto my-auto">
                    <strong>{{items.length}}</strong> items in the table
                </div>
            </div>
            <div id="collapseOne" class="collapse">
                <div class="row">
                    <!--Tag-->
                    <div class="form-group col-3">
                        <label for="promoTag">
                            Tag
                            <b-icon id="tag-info" icon="question-circle" aria-hidden="true"></b-icon>
                            <b-tooltip target="tag-info" triggers="hover">
                                Dynamic field (data from database)
                            </b-tooltip>
                        </label>
                        <div v-if="getPromoCodeTagsStatus.loading"
                             class="border-1 border rounded py-1 d-flex justify-content-center">
                            <b-spinner label="Loading..."></b-spinner>
                        </div>
                        <div v-else-if="getPromoCodeTagsStatus.wentWrong"
                             class="border-1 border rounded py-1 d-flex text-center text-danger">
                            Can't load tags
                        </div>
                        <select v-else
                                class="form-control form-control-sm validate-input"
                                id="promoTag"
                                @change="modifyAll"
                                v-model="fields.tag">
                            <option value=""></option>
                            <option v-for="(item, index) in promoCodeTags"
                                    :value="item.tag"
                                    :key="index">
                                {{item.tag}}
                            </option>
                        </select>
                    </div>
                    <!--Product-->
                    <div class="form-group col-3">
                        <label for="promoProduct">Product</label>
                        <select class="form-control form-control-sm validate-input"
                                id="promoProduct"
                                @change="modifyAll"
                                v-model="fields.product">
                            <option value=""></option>
                            <option value="DELFIPLUS">D+</option>
                            <option value="MVP">MVP</option>
                        </select>
                    </div>
                    <!--Type-->
                    <div class="form-group col-3">
                        <label for="promoType">Type</label>
                        <select class="form-control form-control-sm validate-input"
                                id="promoType"
                                @change="modifyAll"
                                v-model="fields.type">
                            <option value=""></option>
                            <option value="sub:1d">1 day</option>
                            <option value="sub:7d">7 days</option>
                            <option value="sub:14d">14 days</option>
                            <option value="sub:28d">28 days</option>
                            <option value="sub:84d">84 days</option>
                            <option value="sub:168d">168 days</option>
                            <option value="sub:364d">364 days</option>
                        </select>
                    </div>
                    <!--promo code valid from-->
                    <div class="form-group col-3">
                        <label for="promoValidFrom">Valid from:</label>
                        <VueCtkDateTimePicker
                                :formatted="'YYYY-MM-DD'"
                                format="YYYY-MM-DD"
                                id="promoValidFrom"
                                v-model="fields.validFrom"
                                :only-date="(true)"
                                :no-label="true"
                                label="Select date"
                                :auto-close="true"
                        />
                    </div>
                    <!--promo code valid to-->
                    <div class="form-group col-3">
                        <label for="promoValidTo">Valid to:</label>
                        <VueCtkDateTimePicker
                                :formatted="'YYYY-MM-DD'"
                                format="YYYY-MM-DD"
                                id="promoValidTo"
                                v-model="fields.validTo"
                                :only-date="(true)"
                                :no-label="true"
                                label="Select date"
                                :auto-close="true"
                        />
                    </div>
                </div>
                <div class="form-group d-flex">
                    <span class="ml-auto">
                           <button class="btn btn-outline-info mr-3"
                                   @click="cancelEditing()">
                            <b-icon icon="x" aria-hidden="true"></b-icon>
                            Cancel
                        </button>
                        <button class="btn btn-outline-info"
                                   @click="save()"
                                   data-toggle="collapse"
                                   data-target="#collapseOne">
                            <b-icon icon="check" aria-hidden="true"></b-icon>
                            Save
                        </button>
                    </span>
                </div>
            </div>
            <div class="overflow-auto table-container">
                <table class="table table-hover">
                    <virtual-list
                            :data-key="'code'"
                            :data-sources="items"
                            :data-component="itemComponent"
                            :estimate-size="50"
                            root-tag="div"
                            class="virtual-list-table b-table table-striped table-hover"
                            wrap-tag="tbody"
                            item-tag="tr"
                            header-tag="thead"
                            :extra-props="{tableHeadElements}"
                    >
                        <tr slot="header">

                            <th v-for="value in tableHeadElements"
                                scope="col"
                                :key="value.key"
                            >
                                {{value.text}}
                            </th>
                        </tr>
                    </virtual-list>
                </table>
            </div>
        </div>
        <div v-else class="text-center text-muted">
            <div>
                <img src="https://g.delfi.lv/delfi-plus/icons/no-data.svg" alt="No data">
            </div>
            No data
        </div>
        <b-modal id="bv-modal-delete-promo" hide-footer>
            <div class="d-block text-center">
                <h3>Remove {{items.length}} codes from database?</h3>
            </div>
            <div class="row">
                <button class="col btn btn-outline-secondary"
                        @click="$bvModal.hide('bv-modal-delete-promo')">
                    Cancel
                </button>
                <button class="col btn btn-outline-secondary"
                        @click="() => {$bvModal.hide('bv-modal-delete-promo');$bvModal.show('bv-modal-delete-double-check')}">
                    Yes
                </button>
            </div>
        </b-modal>
        <b-modal id="bv-modal-delete-double-check" hide-footer>
            <div class="d-block text-center">
                <h3>Are you sure?</h3>
            </div>
            <div class="row">
                <button class="col btn btn-outline-secondary"
                        @click="() => {deletePromoCodes();$bvModal.hide('bv-modal-delete-double-check')}">
                    Yes
                </button>
                <button class="col btn btn-outline-secondary"
                        @click="$bvModal.hide('bv-modal-delete-double-check')">
                    No
                </button>
            </div>
        </b-modal>
    </div>
</template>

<script>
  import axios from 'axios';
  import ExcelExport from './ExcelExport.vue'
  import Item from './Step2Item'
  import VirtualList from 'vue-virtual-scroll-list'
  import getPromoCodeTags from '../../../graphql/promo-code/getPromoCodeTags.graphql';
  import deletePromoCodes from '../../../graphql/promo-code/deletePromoCodes.graphql';
  import updatePromoCodes from '../../../graphql/promo-code/updatePromoCodes.graphql';

  export default {
    name: 'SelectedUserTable',
    props: {
      user: Object,
      removeSelectedUser: Function,
      selectedItems: Object,
      tableHead: Array,
    },
    components: {
      'export-button': ExcelExport,
      'virtual-list': VirtualList
    },
    created() {
      this.getPromoCodeTagsStatus.loading = true;
      this.getPromoCodeTags().then(() => {
        this.getPromoCodeTagsStatus.loading = false;
      });
    },
    activated() {
      this.updateUserList();
    },
    deactivated() {
      this.cancelEditing();
    },
    computed: {
      tableHeadElements() {
        return this.tableHead.filter(item => {
          if (item.shown) {
            return item
          }
        });
      },
      editedFields() {
        let fields = {};
        Object.keys(this.fields).forEach((item) => {
          if (this.fields[item] != null) {
            fields[item] = this.fields[item];
          }
        });
        return fields;
      },
      selected() {
        let selected = {};
        for (const item of this.items) {
            selected[item.code] = item;
        }
        return selected;
      },
    },
    watch: {
      'fields.validFrom' () {
        this.modifyAll();
      },
      'fields.validTo' () {
        this.modifyAll();
      },
    },
    data() {
      return {
        itemComponent: Item,
        items: [],
        promoCodeTags: [],
        getPromoCodeTagsStatus: {
          wentWrong: false,
          loading: false,
        },
        fields: {
          tag: null,
          type: null,
          product: null,
          validFrom: null,
          validTo: null,
        },
      }
    },
    methods: {
      updateUserList() {
        this.items = [];
        const selectedItemsClone = JSON.parse(JSON.stringify(this.selectedItems));
        for (const item in selectedItemsClone){
          this.items.push(selectedItemsClone[item]);
        }
      },
      save() {
        this.updatePromoCodes();
      },
      cancelEditing() {
        this.clearFilter();
        this.updateUserList();
      },
      modifyAll() {
        this.items.forEach((item) => {
          Object.keys(this.fields).forEach((key) => {
            if (this.fields[key] != null) {
              item[key] = this.fields[key];
            }
          });
        });
      },
      unselectAll() {
        this.$emit('unselectAll');
        this.items = [];
      },
      clearFilter() {
        Object.keys(this.fields).forEach((key) => {
          this.fields[key] = null;
        });
      },
      remove() {
        this.$bvModal.show('bv-modal-delete-promo');
      },
      async deletePromoCodes() {
        const headers = {};
        headers.Authorization = `Bearer ${this.user.loginApiToken}`;
        await axios({
          headers,
          url: 'https://api.delfi.lv/payment-processing/v1/graphql',
          method: 'post',
          data: {
            query: deletePromoCodes,
            variables: {
              codes: this.items.map(e => e.code),
            },
          },
        }).then(
          (response) => {
            if (
              (typeof response.data.errors !== 'undefined' && response.data.errors.length > 0)
              || response.data.data.deletePromoCodes.response.status === 'failed'
            ) {
              this.$bvToast.toast('Failed to remove promo code from database', {
                title: `Error!`,
                variant: 'danger',
                solid: true,
                autoHideDelay: 10000,
              })
            } else {
              this.unselectAll();
              this.$bvToast.toast('Promo codes were removed from database', {
                title: `Warning!`,
                variant: 'warning',
                solid: true,
                autoHideDelay: 10000,
              });
              this.$bvModal.hide('bv-modal-delete')
            }
          },
          (error) => {
            this.$bvToast.toast('Failed to remove promo code from database', {
              title: `Error!`,
              variant: 'danger',
              solid: true,
              autoHideDelay: 10000,
            });
            console.log('error', error);
          }
        );
      },
      async getPromoCodeTags() {
        const headers = {};
        headers.Authorization = `Bearer ${this.user.loginApiToken}`;
        await axios({
          headers,
          url: 'https://api.delfi.lv/payment-processing/v1/graphql',
          method: 'post',
          data: {
            query: getPromoCodeTags,
          },
        }).then(
          (response) => {
            if (
              (typeof response.data.errors !== 'undefined' && response.data.errors.length > 0)
              || response.data.data.getPromoCodeTags.response.status === 'failed'
            ) {
              console.log('getPromoCodeTags failed', response);
              this.getPromoCodeTagsStatus.wentWrong = true;
            } else {
              this.promoCodeTags = response.data.data.getPromoCodeTags.tags;
            }
          },
          (error) => {
            this.getPromoCodeTagsStatus.wentWrong = true;
            console.log('getPromoCodeTags error', error);
          }
        );
      },
      async updatePromoCodes() {
        const headers = {};
        headers.Authorization = `Bearer ${this.user.loginApiToken}`;
        let variables = {...this.editedFields};
        variables.codes = this.items.map(e => e.code);
        await axios({
          headers,
          url: 'https://api.delfi.lv/payment-processing/v1/graphql',
          method: 'post',
          data: {
            query: updatePromoCodes,
            variables,
          },
        }).then(
          (response) => {
            if (
              (typeof response.data.errors !== 'undefined' && response.data.errors.length > 0)
              || response.data.data.updatePromoCodes.response.status === 'failed'
            ) {
              console.log('updatePromoCodes failed', response);
              this.$bvToast.toast('Failed to update promo codes in database', {
                title: `Error!`,
                variant: 'danger',
                solid: true,
                autoHideDelay: 10000,
              })
            } else {
              this.items = response.data.data.updatePromoCodes.promoCodes;
              this.$emit('setSelectedItems', this.selected);
              this.$bvToast.toast('Promo codes were updated', {
                title: `Success!`,
                variant: 'success',
                solid: true,
                autoHideDelay: 10000,
              });
            }
          },
          (error) => {
            this.$bvToast.toast('Failed to update promo codes in database', {
              title: `Error!`,
              variant: 'danger',
              solid: true,
              autoHideDelay: 10000,
            });
            console.log('updatePromoCodes error', error);
          }
        );
      },
    },
  };
</script>
