<template>
  <div>
    <b-breadcrumb :items="routeredItems"></b-breadcrumb>
    <router-view :user="user"/>
  </div>
</template>

<script>
    export default {
        name: 'Index',
        props: {
            user: Object,
        },
        data() {
            return {
                items: [
                    { text: 'Specprojects', to: { name: 'specprojects-linked' } },
                    { text: 'Unlinked Specprojects', to: { name: 'specprojects-unlinked' } },
                    { text: 'Create Specproject', to: { name: 'specproject-create' } }
                ],
            };
        },
        computed: {
            routeredItems() {
                const items = [];
                this.items.forEach((item, key) => {
                    items.push(item);
                    items[key].active = this.$route.name === item.to.name;
                });
                return items;
            }
        },
    };
</script>
