<template>
  <div>
    <table-view :items="itemList[view]"></table-view>
  </div>
</template>

<script>
    import axios from 'axios';
    import TableView from './Table';

    export default {
        name: 'Index',
        data() {
            return {
                itemList: [],
                url: '//neo.delfi.lv/misc/axios-requests/specproject-special-admin.php'
            };
        },
        props: ['view'],
        components: {
            TableView
        },
        created() {
            this.getList();
        },
        methods: {
            async getList() {

                await axios({
                    url: this.url,
                    method: 'post',
                    data: JSON.stringify({
                        action: 'GET'
                    }),
                }).then(
                    (response) => {
                        this.itemList = response.data;
                    },
                    (error) => {
                        this.$bvToast.toast('Cannot read items, please check if you`re connected to VPN', {
                            title: `Error!`,
                            variant: 'danger',
                            solid: true,
                            autoHideDelay: 10000,
                        });
                    }
                );
            }
        },
    };
</script>
