<template>
  <b-row class="w-100">
    <b-col cols="12">
      <h1 class="my-4">Special project fields</h1>
        <div v-if="!loading">
          <b-row v-for="(input_fields, key) in input_sections" :key="key" class="mb-3">
            <b-col cols="12">
              <b-row class="special-form-header">
                  <h2 class="my-3 col-10">{{key}}</h2>
                  <b-button class="col-2" variant="white" v-b-toggle="'collapse-' + key.replace(/\s+/g, '')"><i class="icon-arrows-thin-bottom"></i></b-button>
              </b-row>
            </b-col>
            <b-collapse class="col-12 special-form pt-2" :id="'collapse-' + key.replace(/\s+/g, '')">
              <b-col cols="12" v-for="(input_field, key1) in input_fields" :key="key1">
                <!-- Dropdown -->
                <b-form-group
                  :id="'input-group-' + input_field.id"
                  class="col-12"
                  :label="input_field.name + ' : '"
                  :label-for="'input-' + input_field.id"
                  v-if="input_field.type === 'dropdown' &&
                      (!input_field.condition ||
                          (input_field.condition.type === 'is' && category_extra[input_field.condition.variable] === input_field.condition.value) ||
                          (input_field.condition.type === 'isnot' && category_extra[input_field.condition.variable] !== input_field.condition.value)
                      )"
                >
                  <b-form-select
                    :id="'input-' + input_field.id"
                    v-model="category_extra[input_field.id]"
                    class="spec-category-input col-12"
                    :options="values[input_field.value]"
                  >
                  </b-form-select>
                </b-form-group>
                <!-- Default -->
                <b-form-group
                  :id="'input-group-' + input_field.id"
                  class="col-12"
                  :label="input_field.name + ' : '  + ((input_field.required) ? '*' : '')"
                  :label-for="'input-' + input_field.id"
                  v-if="input_field.type === 'default' &&
                      (!input_field.condition ||
                          (input_field.condition.type === 'is' && category_extra[input_field.condition.variable] === input_field.condition.value) ||
                          (input_field.condition.type === 'isnot' && category_extra[input_field.condition.variable] !== input_field.condition.value)
                      )"
                >
                  <b-form-input
                    :id="'input-' + input_field.id"
                    v-model="category_extra[input_field.id]"
                    pattern="[^\x22]+"
                    class="spec-category-input col-12"
                    title="Don't use double quotes!"
                    :required="input_field.required"
                  ></b-form-input>
                </b-form-group>
                <!-- Checkbox -->
                <b-form-group
                  :id="'input-group-' + input_field.id"
                  class="col-12"
                  :label="input_field.name + ' : '"
                  :label-for="'input-' + input_field.id"
                  v-if="input_field.type === 'checkbox' &&
                      (!input_field.condition ||
                          (input_field.condition.type === 'is' && category_extra[input_field.condition.variable] === input_field.condition.value) ||
                          (input_field.condition.type === 'isnot' && category_extra[input_field.condition.variable] !== input_field.condition.value)
                      )"
                >
                  <b-form-checkbox
                    :id="'input-' + input_field.id"
                    class="spec-category-input col-12"
                    v-model="category_extra[input_field.id]"
                  ></b-form-checkbox>
                </b-form-group>
                <!-- Image -->
                <b-form-group
                  :id="'input-group-' + input_field.id"
                  class="col-12"
                  :label="input_field.name + ' : '"
                  :label-for="'input-' + input_field.id"
                  v-if="input_field.type === 'image' &&
                        (!input_field.condition ||
                          (input_field.condition.type === 'is' && category_extra[input_field.condition.variable] === input_field.condition.value) ||
                          (input_field.condition.type === 'isnot' && category_extra[input_field.condition.variable] !== input_field.condition.value)
                      )"
                >
                  <b-form-file
                    v-model="tempImage.img"
                    placeholder="Choose a file or drop it here..."
                    drop-placeholder="Drop file here..."
                    @change="uploadTempImage"
                    v-if="!category_extra.hero_img.b64 && !category_extra.hero_img.url"
                  ></b-form-file>
                  <div v-else>
                    <img width="50%" :src="(category_extra.hero_img.b64) ? category_extra.hero_img.b64 : category_extra.hero_img.url" alt="Image" />
                    <b-button class="ml-2" @click="deleteImage" variant="danger" :disabled="category_extra.id === 0 && typeof category_extra.category_id === 'undefined'">
                      <span>Delete</span>
                    </b-button>
                    <span v-if="category_extra.hero_img.b64">Cropped image will show up after save</span>
                  </div>
                </b-form-group>
              </b-col>
            </b-collapse>
          </b-row>
          <b-row>
            <b-col cols="12">
              <router-link v-if="unlinked" :to="{name: 'specprojects-linked'}"  class="btn btn-light">
                Cancel
              </router-link>
              <b-button class="ml-2" @click="saveToDb" variant="success" :disabled="disableSave">
                Save
              </b-button>
              <b-button class="ml-2" v-if="category_extra.id !== 0" @click="getInfoFromDb">
                Revert to last save
              </b-button>
            </b-col>
          </b-row>
        </div>
        <div v-else>
          Loading...
        </div>
    </b-col>
    <b-modal ref="cropperModal" hide-footer no-close-on-backdrop title="Crop image" @close="clearFileUpload">
      <cropper
        classname="cropper"
        :src="tempImage.b64"
        ref="cropper"
      ></cropper>
      <b-button class="ml-3" @click="saveCrop" variant="primary">
        <span>Crop</span>
      </b-button>
    </b-modal>
  </b-row>
</template>

<script>
    import { Cropper } from 'vue-advanced-cropper';
    import axios from 'axios';

    export default {
        data() {
            return {
                category_extra: {
                    id: 0,
                    category_id: null,
                    special_admin_category_id: null,
                    title: '',
                    category_url: '',
                    hero_template: 'align-self-center mx-auto',
                    hype_link: '',
                    hero_subtext_align: 'text-center',
                    hero_img: { ur: '', b64: '', crop: { width: 0, height: 0, top: 0, left: 0 } },
                    hero_video: '',
                    video_loop: false,
                    hero_text: '',
                    hero_arrow_down: false,
                    headlines_template: 'default',
                    footer_text: '',
                    brand_logo: false,
                    custom_css: '',
                    skin: '13178',
                    ga_code: '',
                    hj_code: '',
                    navigation_back_button_text: '',
                    article_bottom_nav: false,
                    special_header: false,
                    sponsor_logo_href: '',
                    sponsor_logo_href_tracking: false,
                    read_more: false,
                    type: null,
                    sponsored_by: ''
                },
                tempImage: {
                    b64: '',
                    img: null
                },
                values: {
                    hero_template: [
                        { value:'align-self-center mx-auto', text: "center center" },
                        { value:'align-self-center mx-auto', text: "top center" },
                        { value:'align-self-center mx-auto', text: "bottom center" },
                        { value:'align-self-center mx-auto', text: "center left" },
                        { value:'align-self-center mx-auto', text: "top left" },
                        { value:'align-self-center mx-auto', text: "bottom left" },
                        { value:'align-self-center mx-auto', text: "center right" },
                        { value:'align-self-center mx-auto', text: "top right" },
                        { value:'align-self-center mx-auto', text: "bottom right" },
                        { value:'hero-hype', text: "hype" },
                    ],
                    hero_subtext_align: [
                        { value:'text-center', text: "Center" },
                        { value:'text-left', text: "Left" },
                        { value:'text-right', text: "Right" },
                    ],
                    headlines_template: [
                        { value:'default', text: "Default" },
                        { value:'titles-on-images', text: "Titles On Images" },
                        { value:'row-of-three', text: "Rows of 3 articles" },
                        { value:'titles-on-images-three', text: "Titles On Images (3 in row)" },
                        { value:'hidden', text: 'Disabled' },
                    ],
                    type: [
                        { value: 'specproject', text: "Specproject" },
                        { value: 'tilda', text: "Tilda" }
                    ]
                },
                input_sections: {
                    'Frontpage settings': [
                        { name: 'Hero Template', id: 'hero_template', type: 'dropdown', value: 'hero_template' },
                        { name: 'Hype Link', id: 'hype_link', type: 'default',
                            condition: {
                                type: 'is',
                                variable: 'hero_template',
                                value: 'hero-hype'
                            }
                          },
                        { name: 'Hero Text Align', id: 'hero_subtext_align', type: 'dropdown', value: 'hero_subtext_align',
                            condition: {
                                type: 'isnot',
                                variable: 'hero_template',
                                value: 'hero-hype'
                            }
                        },
                        { name: 'Hero Image', id: 'hero_img', type: 'image',
                            condition: {
                                type: 'isnot',
                                variable: 'hero_template',
                                value: 'hero-hype'
                            }
                        },
                        { name: 'Hero Video Link', id: 'hero_video', type: 'default',
                            condition: {
                                type: 'isnot',
                                variable: 'hero_template',
                                value: 'hero-hype'
                            }
                        },
                        { name: 'Hero Video Repeatable (loop)', id: 'video_loop', type: 'checkbox',
                            condition: {
                                type: 'isnot',
                                variable: 'hero_template',
                                value: 'hero-hype'
                            }
                        },
                        { name: 'Hero Text', id: 'hero_text', type: 'default',
                            condition: {
                                type: 'isnot',
                                variable: 'hero_template',
                                value: 'hero-hype'
                            }
                        },
                        { name: 'Hero Arrow Down', id: 'hero_arrow_down', type: 'checkbox',
                            condition: {
                                type: 'isnot',
                                variable: 'hero_template',
                                value: 'hero-hype'
                            }
                        },
                        { name: 'Headlines Template', id: 'headlines_template', type: 'dropdown', value: 'headlines_template' },
                    ],
                    'Header': [
                        { name: 'Special header', id: 'special_header', type: 'checkbox' },
                        { name: 'Sponsor logo link', id: 'sponsor_logo_href', type: 'default',
                            condition: {
                                type: 'is',
                                variable: 'special_header',
                                value: true
                            }
                        },
                        { name: 'Custom "sponsored by"', id: 'sponsored_by', type: 'default',
                            condition: {
                                type: 'is',
                                variable: 'special_header',
                                value: true
                            }
                        },
                        { name: 'Navigation Back Button Text', id: 'navigation_back_button_text', type: 'default',
                            condition: {
                                type: 'is',
                                variable: 'special_header',
                                value: true
                            }
                        },
                    ],
                    'Footer': [
                        { name: 'Article Bottom - prev/next navigation', id: 'article_bottom_nav', type: 'checkbox' },
                        { name: 'Footer Text', id: 'footer_text', type: 'default' },
                        { name: 'Brand Studio Logo', id: 'brand_logo', type: 'checkbox' },
                        { name: 'Read more headlines block', id: 'read_more', type: 'checkbox' },
                    ],
                    'Styles': [
                        { name: 'Custom CSS', id: 'custom_css', type: 'default' },
                        { name: 'Skin', id: 'skin', type: 'default', required: true},
                    ],
                    'Statistics': [
                        { name: 'Google Analytics Code', id: 'ga_code', type: 'default' },
                        { name: 'HotJar Code', id: 'hj_code', type: 'default' },
                        { name: 'Sponsor logo tracking with GA code', id: 'sponsor_logo_href_tracking', type: 'checkbox',
                            condition: {
                                type: 'isnot',
                                variable: 'ga_code',
                                value: ''
                            }
                        },
                    ],
                },
                unlinked_blocks: {
                    'Admin Info': [
                        { name: 'Title', id: 'title', type: 'default', required: true },
                        { name: 'Category ID', id: 'category_id', type: 'default', required: true },
                        { name: 'Category URL', id: 'category_url', type: 'default' },
                        { name: 'Type', id: 'type', type: 'dropdown', value: 'type' },
                    ]
                },
                unlinked: false,
                loading: true,
                url: '//neo.delfi.lv/misc/axios-requests/specproject-special-admin.php'
            };
        },
        components: {
            Cropper
        },
        props: {
            category: Object,
            user: Object,
            special_admin_category_id: [String, Number],
            unlinked_prop: Boolean
        },
        watch: {
          special_admin_category_id: function() {
              this.category_extra.special_admin_category_id = this.special_admin_category_id;
          }
        },
        computed: {
            disableSave: function() {
                //If unlinked, always able to save
                if(this.unlinked) {
                    return false;
                } else {
                    //If ID given from category
                    if(
                        typeof this.category_extra.special_admin_category_id !== 'undefined' &&
                        this.category_extra.special_admin_category_id !== null &&
                        this.category_extra.special_admin_category_id !== 0
                    ){
                        return false;
                    }
                }
                return true;
            }
        },
        async created() {
            // If spec category isn't linked to category created in admin
            if(typeof this.unlinked_prop !== 'undefined' && this.unlinked_prop) {
                this.unlinked = true;
                this.input_sections = Object.assign({}, this.unlinked_blocks, this.input_sections);
                this.category_extra.type = 'specproject';
            // If it is linked to a category with ID
            } else if(typeof this.special_admin_category_id !== 'undefined' && this.special_admin_category_id !== null) {
                this.category_extra.special_admin_category_id = this.special_admin_category_id;
            }

            // If edit view
            if(this.$route.params.specialID > 0) {
                this.category_extra.id = this.$route.params.specialID;
            }

            // If there is an ID, then get info from DB
            if(this.category_extra.id !== 0 || this.category_extra.special_admin_category_id > 0) {
                await this.getInfoFromDb().then(() => {
                    if(!this.category_extra.special_admin_category_id > 0) {
                        this.input_sections = Object.assign({}, this.unlinked_blocks, this.input_sections);
                        this.unlinked = true;
                    }
                    this.loading = false;
                });
            } else {
                this.loading = false;
            }
        },
        methods: {
            //Get saved information by ID or Admin ID
            async getInfoFromDb() {
                if(this.category_extra.id === 0 && this.category_extra.special_admin_category_id === null) {
                    this.$bvToast.toast('No ID specified', {
                        title: `Error!`,
                        variant: 'danger',
                        solid: true,
                        autoHideDelay: 10000,
                    });
                } else {
                    await axios({
                        url: this.url,
                        method: 'post',
                        data: JSON.stringify({
                            action: 'GET SPECIFIC',
                            id: this.category_extra.id,
                            special_admin_category_id: this.category_extra.special_admin_category_id
                        }),
                    }).then(
                        (response) => {
                            if(!response.data.error) {
                                this.category_extra = response.data;
                            } else {
                                this.$bvToast.toast(response.data.error, {
                                    title: `Error!`,
                                    variant: 'danger',
                                    solid: true,
                                    autoHideDelay: 10000,
                                });
                            }
                        },
                        (error) => {
                            this.$bvToast.toast('Cannot read info, please check if you`re connected to VPN', {
                                title: `Error!`,
                                variant: 'danger',
                                solid: true,
                                autoHideDelay: 10000,
                            });
                        }
                    );
                }
            },

            //Save extra fields to DB
            async saveToDb(){
                if(this.checkValidation()) {
                    await axios({
                        url: this.url,
                        method: 'post',
                        data: JSON.stringify({
                            action: 'STORE',
                            spec_project: this.category_extra,
                            user_id: this.user.id
                        }),
                    }).then(
                        (response) => {
                            if (response.data.id) {
                                this.category_extra.id = response.data.id;
                                this.getInfoFromDb();
                                this.$bvToast.toast('Special category successfully saved', {
                                    title: `Success!`,
                                    variant: 'success',
                                    solid: true,
                                    autoHideDelay: 10000,
                                });
                            } else {
                                this.$bvToast.toast(response.data.message, {
                                    title: `Error!`,
                                    variant: 'danger',
                                    solid: true,
                                    autoHideDelay: 10000,
                                });
                            }
                        },
                        (error) => {
                            this.$bvToast.toast(error.message, {
                                title: `Error!`,
                                variant: 'danger',
                                solid: true,
                                autoHideDelay: 10000,
                            });
                        }
                    );
                } else {
                    this.$bvToast.toast('Required fields missing', {
                        title: `Error!`,
                        variant: 'danger',
                        solid: true,
                        autoHideDelay: 10000,
                    });
                }
            },

            //Save cropped image to memory
            saveCrop() {
                const { coordinates } = this.$refs.cropper.getResult();
                this.category_extra.hero_img = {
                    b64: this.tempImage.b64,
                    crop: {
                        width: coordinates.width,
                        height: coordinates.height,
                        top: coordinates.top,
                        left: coordinates.left
                    }
                };
                this.hideCropperModal();
            },

            //Handle image upload
            uploadTempImage(event){
                this.input = event.target;
                if (this.input.files && this.input.files[0]) {
                    this.reader = new FileReader();
                    this.reader.onload = (e) => {
                        this.tempImage.b64 = e.target.result;

                        this.$refs.cropperModal.show();
                    };
                    this.reader.readAsDataURL(this.input.files[0]);
                }
            },

            //Remove or edit cropped image
            deleteImage(){
                this.category_extra.hero_img = {
                    b64: '',
                    crop: {
                        width: 0,
                        height: 0,
                        top: 0,
                        left: 0,
                    }
                };
            },

            //Remove upload if modal closed
            clearFileUpload() {
                this.$nextTick(() => {
                    this.resetTempImage();
                });
            },

            //Reset tempImage variable
            resetTempImage() {
                this.tempImage = {
                    b64: '',
                    img: null
                }
            },

            //Hide cropper modal
            hideCropperModal() {
                this.$refs.cropperModal.hide();
                this.resetTempImage();
            },

            //Validation
            checkValidation() {
                let valid = true;
                //Exclude checkboxes as check validity function doesn't work
                document.querySelectorAll('.spec-category-input:not(.custom-checkbox)').forEach((item) => {
                    if (!item.checkValidity()) {
                        valid = false;
                        item.reportValidity();
                    }
                });
                return valid;
            },
        }
    }
</script>
<style>
  .special-form {
    border: 1px solid gray;
    border-top: 0;
    border-radius: 0 0 5px 5px;
  }
  .special-form-header {
    border: 1px solid gray;
    border-radius: 5px 5px 0 0;
  }
</style>
