<template>
  <div class="w-100">
    <table v-if="typeof items !== 'undefined' && items.length > 0" class="table table-hover mt-3">
      <thead>
      <tr>
        <th scope="col">Item ID</th>
        <th scope="col">Title</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="item in items" :key="item.id">
        <th scope="row">{{item.id}}</th>
        <th scope="row">{{item.title}}</th>
        <td>
          <button type="button"
                  class="btn btn-sm btn-primary"
                  @click="$router.push({ name: 'special-category-form', params: { specialID: item.id } })"
          >Edit</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div v-else class="font-italic text-center text-muted">
      List is empty
    </div>
  </div>
</template>

<script>
  export default {
      props: {
          items: [Object, Array]
      }
  }
</script>
