<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>D+ CRM</title>
    <link rel="stylesheet" href="https://g.delphi.lv/delfi-bootstrap/assets/fonts/icons/icons.css?<%= + new Date() %>">
    <script>window.DLOCALE='lv_LV';</script>
    <script src="https://static.delfi.net/login-api/master/test.js"></script>
    <link rel="stylesheet" href="https://g.delfi.lv/delfi-bootstrap/assets/fonts/icons/icons.css?125113123139">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  </head>
  <body>
    <link rel="stylesheet" type="text/css" href="https://g.delphi.lv/scms/?g=delfi-bootstrap.s&<%= + new Date() %>">
    <noscript>
      <strong>We're sorry but login-api-embeds doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script src="https://g.delfi.lv/scms/?g=delfi-bootstrap-j"></script>
  </body>
</html>
