<template>
    <div class="form-check">
        <input :name="name"
               class="form-check-input"
               type="checkbox"
               value="1"
               :v-model="model || ''"
               :checked="!!checked"
               :required="!!required"

        >
        <label class="form-check-label">
            {{ text }}
        </label>
    </div>
</template>

<script>
export default {
  props: {
    name: String,
    text: String,
    model: String,
    checked: [Boolean, String, Number],
    required: [Boolean, String, Number],
  },
};
</script>
