<template>
    <div>
        <b-breadcrumb :items="routeredItems"></b-breadcrumb>
        <router-view :user="user"/>
    </div>
</template>

<script>

  export default {
    props: {
      user: Object,
    },
    data() {
      return {
        items: [
          {
            text: 'Get promo code',
            to: { name: 'promoIndex' }
          },
          {
            text: 'New promo code',
            to: { name: 'promoCreate' }
          },
          {
            text: 'Promo code tags',
            to: { name: 'promoTags' }
          }
        ]
      };
    },
    computed: {
      routeredItems() {
        const items = [];
        this.items.forEach((item, key) => {
          items.push(item);
          if (this.$route.name === item.to.name) {
            items[key].active = true;
          } else {
            items[key].active = false;
          }
        });
        return items;
      }
    },
  };
</script>
