<template>
  <div>
    <b-breadcrumb :items="routeredItems"></b-breadcrumb>
    <router-view :user="user"/>
  </div>
</template>

<script>

    export default {
        props: {
            user: Object,
        },
        data() {
            return {
                items: [
                    { text: 'Categories', to: { name: 'categories' } },
                    { text: 'New category', to: { name: 'category-form-new' } },
                    { text: 'Special categories', to: { name: 'specprojects-linked' } },
                ]
            };
        },
        computed: {
            routeredItems() {
                const items = [];
                this.items.forEach((item, key) => {
                    items.push(item);
                    items[key].active = this.$route.name === item.to.name;
                });
                return items;
            }
        },
    };
</script>
