<template>
    <div>
        <h1>Create kinolente voting block {{$route.params.id}}</h1>
      <b-row>
        <b-col cols="12">
        <div class="row">
          <form action="">

          </form>
          <b-form-group
            id="input-group-title"
            class="col-6"
            label="Title:"
            label-for="input-title"
          >
            <b-form-input
            id="input-title"
            v-model="voting.title"
            required
            pattern="[^\x22]+"
            class="vote-input"
            maxlength="85"
            title="Don't use double quotes!"
            placeholder="Enter title"
            >
            </b-form-input>
            <div class="row">
              <div class="col-10">
                <b-form-text id="input-live-help">max 85 characters</b-form-text>
              </div>
              <div class="col-2">
                <div class="text-size-12 text-right pt-2 pb-3 pr-3 position-relative">
                  {{voting.title.length}}
                </div>
              </div>
            </div>
          </b-form-group>
          <b-form-group
            id="input-group-subtitle"
            class="col-6"
            label="Subtitle:"
            label-for="input-subtitle"
          >
            <b-form-input
            id="input-subtitle"
            v-model="voting.subtitle"
            pattern="[^\x22]+"
            class="vote-input"
            title="Don't use double quotes!"
            placeholder="Enter subtitle"
            >
            </b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-result-title"
            class="col-6"
            label="Result title:"
            label-for="input-result-title"
          >
            <b-form-input
            id="input-result-title"
            v-model="voting.resultTitle"
            pattern="[^\x22]+"
            class="vote-input"
            title="Don't use double quotes!"
            placeholder="Enter result title"
            >
            </b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-result-subtitle"
            class="col-6"
            label="Result subtitle:"
            label-for="input-result-subtitle"
          >
            <b-form-input
            id="input-result-subtitle"
            v-model="voting.resultSubtitle"
            pattern="[^\x22]+"
            class="vote-input"
            title="Don't use double quotes!"
            placeholder="Enter result subtitle"
            >
            </b-form-input>
          </b-form-group>


          <b-form-group
            id="input-group-date-from"
            class="col-6"
            label="Date from:"
            label-for="input-date-from">
            <VueCtkDateTimePicker format="YYYY-MM-DD HH:mm" id="input-date-from" v-model="voting.date_from" />
          </b-form-group>

          <b-form-group
            id="input-group-date-to"
            class="col-6"
            label="Date to:"
            label-for="input-date-to">
            <VueCtkDateTimePicker format="YYYY-MM-DD HH:mm" id="input-date-to" v-model="voting.date_to" />
          </b-form-group>

          <b-form-group
                  class="col-12">
            <input type="file" id="file" ref="file" v-on:change="uploadImage()"/>
            <img :src="voting.imageLink" alt="" style="height: 100px; width: auto">
            <b-form-text id="input-live-help">size: 326x600</b-form-text>
          </b-form-group>


          <div class="form-group col-12">
            <b-card
              header="Questions"
            >
              <div v-for="(item, key) in questions"
                   :key="key">
                <b-form-group
                        id="input-group-title"
                        class="col-12"
                        :label-for="`input-question-${key}`"
                >
                  <b-form-input
                          :id="`input-question-${key}`"
                          v-model="questions[key]"
                          pattern="[^\x22]+"
                          maxlength="40"
                          placeholder="Enter title"
                          class="vote-input"
                  >
                  </b-form-input>
                  <div class="row">
                    <div class="col-10">
                      <b-form-text id="input-live-help">max 40 characters</b-form-text>
                    </div>
                    <div class="col-2">
                      <div class="text-size-12 text-right pt-2 pb-3 pr-3 position-relative">
                        {{questions[key].length}}
                      </div>
                    </div>
                  </div>
                </b-form-group>
              </div>
              <b-button href="#" variant="primary" @click="addQuestion">Add question</b-button>
            </b-card>
          </div>
          <div class="col-12">
            <router-link to="/kinolente-votings"  class="btn btn-light">
              Cancel
            </router-link>
            <b-button class="ml-3" @click="save" variant="primary">Save</b-button>
            <b-button class="ml-3" @click="generate" variant="primary">Generate</b-button>
          </div>
      </div>
        </b-col>
        <b-col cols="12" class="mt-4">
          <div style="max-width: 676px">
            <div ref="votingBlock"></div>
          </div>
        </b-col>
      </b-row>

    </div>

</template>

<script>
import format from 'date-fns/format';
import axios from 'axios';

export default {
  name: 'Form',
  data() {
    return {
      voting: {
        title: '',
        subtitle: '',
        resultTitle: '',
        resultSubtitle: '',
        date_from: '',
        date_to: '',
        imageLink: '',
      },
      image: null,
      questions: [
        '',
      ],
      dateFormat: 'D MMM',
    };
  },
  props: {
    itemId: Number,
  },
  created() {
    if (this.$route.params.id > 0) {
      this.fillForm(this.$route.params.id);
    }
  },
  mounted() {
    let externalScript = document.createElement('script');
    externalScript.setAttribute('src', '//g.neo.delfi.lv/vue-embeds/lv/kinolenteVoting.js');
    document.head.appendChild(externalScript)
  },
  computed: {
    answers() {
      const answers = {};
      this.questions.forEach((item, key) => {
        answers[key] = 0;
      });
      return answers;
    },
  },
  methods: {
    checkValidation() {
      let valid = true;
      document.querySelectorAll('.vote-input').forEach((item) => {
        if (!item.checkValidity()) {
          valid = false;
          item.reportValidity();
        }
      });
      return valid;
    },
    async save() {
      if (this.checkValidation()) {
        if (this.$route.params.id > 0) {
          this.form.row_id = this.$route.params.id;
        }

        await axios({
          url: '//neo.delfi.lv/internal/local/sadmin/be/htdocs/index.php/kinolente/voting/add',
          method: 'post',
          data: {
            voting: {
              title: this.voting.title,
              subtitle: this.voting.subtitle,
              result_title: this.voting.resultTitle,
              result_subtitle: this.voting.resultSubtitle,
              date_from: this.voting.date_from,
              date_to: this.voting.date_to,
              image_link: this.voting.imageLink,
              creator_id: 656509
            },
            questions: this.questions,
          },
        }).then(
                (response) => {
                  console.log('good', response);
                  this.$router.push({name:'kinolente-votings'});
                },
                (error) => {
                  console.log('error', error);
                }
        );
      }
    },
    addQuestion() {
      this.questions.push('');
    },
    generate() {
      this.$refs.votingBlock.innerHTML = '';
      const votingBlock = document.createElement("div");
      votingBlock.id = 'votingBlock';
      this.$refs.votingBlock.appendChild(votingBlock);

      console.log('this.voting', this.voting);
      console.log('this.questions', this.questions);

      window.placeKinolenteVoting({
        id: 1,
        title: this.voting.title,
        subtitle: this.voting.subtitle,
        resultTitle: this.voting.resultTitle,
        resultSubtitle: this.voting.resultSubtitle,
        imageLink: this.voting.imageLink,
        questions: this.questions,
        answers: this.answers
      },'votingBlock', null, true);
    },
    formatDates(dateOne, dateTwo) {
      let formattedDates = '';
      if (dateOne) {
        formattedDates = format(dateOne, this.dateFormat);
      }
      if (dateTwo) {
        formattedDates += ` - ${format(dateTwo, this.dateFormat)}`;
      }
      return formattedDates;
    },
    async fillForm(id) {
      const result = await axios({
        url: `//neo.delfi.lv/internal/local/sadmin/be/htdocs/index.php/kinolente/voting/${id}`,
        method: 'get',
      });

      console.log('show result from BE', result);
      this.voting.title = result.data.voting.title;
      this.voting.subtitle = result.data.voting.subtitle;
      this.voting.resultTitle = result.data.voting.result_title;
      this.voting.resultSubtitle = result.data.voting.result_subtitle;
      this.voting.date_from = result.data.voting.date_from;
      this.voting.date_to = result.data.voting.date_to;
      this.questions = result.data.questions;
    },
    async uploadImage() {
      this.file = this.$refs.file.files[0];
      let data = new FormData();
      data.append('image', this.file);

      await axios({
        headers: {
          'Content-Type': 'multipart/form-data'
        },
        url: '//neo.delfi.lv/internal/local/special-admin/saveImage.php',
        method: 'post',
        data
      }).then(
        (response) => {
          if (response.status === 200 && response.data.status === 'ok') {
            this.voting.imageLink = response.data.link;
          }
        },
        (error) => {
          console.log('FAILURE!!', error);
        }
      );
    }
  },
};
</script>

<style scoped>

  @import "//g.neo.delfi.lv/vue-embeds/lv/kinolenteVoting.css";
  .preview-1{
    width: 288px;
    height: 162px;

    border: 1px solid grey;
  }
  .preview-2{
    margin-top: 20px;
    width :200px;
    height: 288px;
    border: 1px solid grey;
  }
</style>
