<template>
    <vue-excel-xlsx
            :class="className"
            :data="items"
            :columns="columns"
            :filename="'filename'"
            :sheetname="'sheetname'">
        <slot></slot>
    </vue-excel-xlsx>
</template>

<script>

export default {
  name: 'ExcelExport',
  props: {
    items: Array,
    className: String,
  },
  data() {
    return {
      columns: [
        {
          label: 'id',
          field: 'id',
        },
        {
          label: 'name',
          field: 'name',
        },
        {
          label: 'email',
          field: 'email',
        },
        {
          label: 'voting_id',
          field: 'voting_id',
        },
        {
          label: 'created_at',
          field: 'created_at',
        },
      ],
    };
  },
};
</script>
