<template>
  <div>
    <b-row>
      <router-link to="/kinolente-voting/create"  class="ml-auto btn btn-primary">
        New
      </router-link>
    </b-row>


    <table v-if="itemsList.length > 0" class="table table-hover mt-3">
      <thead>
      <tr>
        <th scope="col">Item ID</th>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
        <th scope="col">Options</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="item in itemsList" :key="item.id">
        <th scope="row">{{item.id}}</th>
        <th scope="row">{{item.title}}</th>
        <th scope="row">{{formatDates(item.date_from, item.date_to)}}</th>

        <td>
          <button type="button"
                  class="btn btn-sm btn-info"
                  @click="exportParticipantsPopup(item.id)"
          >Export</button>
          <button type="button"
                  class="btn btn-sm btn-primary ml-3"
                  @click="$router.push({ name: 'kinolente-voting-edit', params: { id: item.id } })"
          >Edit</button>
          <button type="button"
                  class="btn btn-sm btn-danger ml-3"
                  @click="removeItemPopup(item.id)"
          ><i style="font-size: 100%;" class="icon-trash"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
    <div v-else class="font-italic text-center text-muted">
      List is empty
    </div>
    <b-modal id="bv-modal-delete" hide-footer>
      <div class="d-block text-center">
        <h3>Are you sure?</h3>
      </div>
      <b-button class="mt-3" block @click="$bvModal.hide('bv-modal-delete')">Cancel</b-button>
      <b-button class="mt-3" block @click="removeItem()">Yes</b-button>
    </b-modal>
    <b-modal id="bv-modal-export" size="lg" hide-footer>
      <export-button className="btn btn-outline-info" :items="participants">
        <b-icon icon="download" aria-hidden="true"></b-icon>
        Export
      </export-button>
      <b-table striped hover :items="participants"></b-table>
    </b-modal>
  </div>
</template>



<script>
import format from 'date-fns/format';
import axios from 'axios';
import ExcelExport  from  './ExcelExport.vue';

export default {
  name: 'Index',
  data() {
    return {
      itemsList: {},
      dateFormat: 'D MMM',
      itemId: null,
      participants: [],
    };
  },
  components: {
    'export-button': ExcelExport,
  },
  created() {
    this.getList();
  },
  methods: {
    async getList() {
      const response = await axios({
        url: '//neo.delfi.lv/internal/local/sadmin/be/htdocs/index.php/kinolente/votings',
        method: 'get',
      });
      this.itemsList = response.data;
      console.log('checkData', this.itemsList);
    },

    formatDates(dateOne, dateTwo) {
      let formattedDates = '';
      if (dateOne) {
        formattedDates = format(dateOne, this.dateFormat);
      }
      if (dateTwo) {
        formattedDates += ` - ${format(dateTwo, this.dateFormat)}`;
      }
      return formattedDates;
    },
    removeItemPopup(id){
      this.itemId = id;
      this.$bvModal.show('bv-modal-delete')
    },
    exportParticipantsPopup(id){
      this.exportParticipants(id).then(() => {
        this.$bvModal.show('bv-modal-export');
      });
    },
    async removeItem(){
      await axios({
        url: '//neo.delfi.lv/internal/local/sadmin/be/htdocs/index.php/kinolente/voting/remove',
        method: 'post',
        data: {
          id: this.itemId,
        },
      }).then(
        (response) => {
          console.log('good', response);
          this.$router.go(0);
        },
        (error) => {
          console.log('error', error);
        }
      );
    },
    async exportParticipants(id){
      await axios({
        url: `//neo.delfi.lv/internal/local/sadmin/be/htdocs/index.php/kinolente/voting/results/${id}`,
        method: 'post',
      }).then(
        (response) => {
          console.log('exportParticipants good', response);
          this.participants = response.data.participants;
        },
        (error) => {
          console.log('error', error);
        }
      );
    }
  },
};
</script>
