<template>
    <div>
        <h1>Article export to Dscreen! {{$route.params.id}}</h1>
      <b-row>
        <b-col cols="6">
        <b-form @submit="onSubmit">
        <b-form-group
          id="input-group-title"
          label="Custom Title:"
          label-for="input-title"
        >
          <b-form-input
          id="input-title"
          v-model="form.title"
          required
          placeholder="Enter title"
          >
          </b-form-input>
        </b-form-group>
        <b-form-group
          id="input-group-font-size"
          label="Font size:"
          label-for="input-font-size"
        >
          <b-form-input
            id="input-font-size"
            v-model="form.font_size"
            type="number"
            min="0"
            required
            placeholder="Enter font size"
          >
          </b-form-input>
        </b-form-group>

          <b-form-group
            id="input-group-date-from"
            label="Date from:"
            label-for="input-date-from">
            <VueCtkDateTimePicker format="YYYY-MM-DD HH:mm" id="input-date-from" v-model="form.date_from" />
          </b-form-group>

          <b-form-group
            id="input-group-date-to"
            label="Date to:"
            label-for="input-date-to">
            <VueCtkDateTimePicker format="YYYY-MM-DD HH:mm" id="input-date-to" v-model="form.date_to" />
          </b-form-group>

        <b-form-group id="input-group-4">
          <b-form-checkbox v-model="form.status" value="1">Visible</b-form-checkbox>
        </b-form-group>
          <router-link to="/dscreen"  class="btn btn-light">
            Cancel
          </router-link>
        <b-button class="ml-3" type="submit" variant="primary">Save</b-button>

      </b-form>
        </b-col>
        <b-col cols="6">
          <b-row>
            <b-col cols="6">
            <iframe width="201px" height="288" border="0" :src="exportLink"></iframe>
            </b-col>
              <b-col cols="6">
            <iframe width="288px" height="162px" border="0" :src="exportLink"></iframe>
              </b-col>
          </b-row>
        </b-col>
      </b-row>

    </div>

</template>

<script>
import format from 'date-fns/format';
import axios from 'axios';

export default {
  name: 'Form',
  data() {
    return {
      form: {
        title: '',
        font_size: 10,
        date_from: '',
        date_to: '',
        status: '1',
      },
      dateFormat: 'D MMM',
    };
  },
  props: {
    itemId: Number,
  },
  created() {
    if (this.$route.params.id > 0) {
      this.fillForm(this.$route.params.id);
    }
  },
  computed: {
    exportLink: function () {
      return `//neo.delfi.lv/misc/dscreen/?font_size=${this.form.font_size}&title=${this.form.title}`
    },
  },
  methods: {
    async onSubmit(evt) {
      evt.preventDefault();

      if (this.$route.params.id > 0) {
        this.form.row_id = this.$route.params.id;
      }

       await axios({
        url: '//neo.delfi.lv/internal/local/sadmin/be/htdocs/index.php/dscreen/article/add',
        method: 'post',
        data: this.form,
      }).then(
         (response) => {
           console.log('good', response);
           this.$router.push({name:'dscreenIndex'});
         },
         (error) => {
           console.log('error', error);
         }
       );

    },
    formatDates(dateOne, dateTwo) {
      let formattedDates = '';
      if (dateOne) {
        formattedDates = format(dateOne, this.dateFormat);
      }
      if (dateTwo) {
        formattedDates += ` - ${format(dateTwo, this.dateFormat)}`;
      }
      return formattedDates;
    },

    async fillForm(id) {
      const result = await axios({
        url: `//neo.delfi.lv/internal/local/sadmin/be/htdocs/index.php/dscreen/article/${id}`,
        method: 'get',
      });

      console.log('show result from BE', result);

      this.form = result.data;
    },


  },
};
</script>

<style scoped>

  @import "//g.neo.delfi.lv/scms/?g=dscreen-export&amp;1580117936";
  .preview-1{
    width: 288px;
    height: 162px;

    border: 1px solid grey;
  }
  .preview-2{
    margin-top: 20px;
    width :200px;
    height: 288px;
    border: 1px solid grey;
  }
</style>
