<template>
    <a href="#"
       class="text-pale-sky h-4 text-size-5 text-right
                      pt-2 pr-3 position-absolute w-100"
       data-toggle="collapse"
       :data-target="'#'+dataTarget">
        <span aria-hidden="true">&times;</span>
    </a>
</template>

<script>
export default {
  props: {
    dataTarget: String,
  },
};
</script>
