<template>
    <button type="button"
            :class="styleClass || 'btn btn-link border-0 p-0 link align-baseline'"
            v-on:click="processClick">
        {{ $t(name) }}
    </button>
</template>


<script>
/* global handleRedirect */
export default {
  props: {
    link: String,
    action: Function,
    name: String,
    styleClass: String,
  },
  methods: {
    processClick() {
      handleRedirect({ link: this.link, action: this.action });
    },
  },
};
</script>
