<template>
  <div>
    <h1 v-if="this.bannerID !== ''">Edit banner {{bannerID}}</h1>
    <h1 v-else>Create banner</h1>
    <b-modal ref="modal" hide-footer no-close-on-backdrop title="Crop image" @hide="setCropperInfo">
      <cropper
        classname="cropper"
        :src="tempImage"
        :default-size="getCropperSize"
        :default-position="getCropperPosition"
        :restrictions="getCropperRestrictions"
        ref="cropper"
        :stencil-props="cropperInfo.stencil"
      ></cropper>
      <b-button class="ml-3" @click="saveCrop" variant="primary">
        <span>Crop</span>
      </b-button>
    </b-modal>
    <b-modal size="xl" ref="previewModal" @hide="closePreviewModal" title="Preview banner">
      <b-row>
        <b-col cols="12" style="margin-top: 10px;">
          <iframe width="1000" height="250" border="0" :src="exportLink.giga"></iframe>
        </b-col>
        <b-col cols="6" style="margin-top: 10px; margin-bottom: 10px;">
          <iframe width="300" height="600" border="0" :src="exportLink.tower"></iframe>
        </b-col>
        <b-col cols="6" style="margin-top: 10px; margin-bottom: 10px;">
          <iframe width="336" height="280" border="0" :src="exportLink.square"></iframe>
        </b-col>
      </b-row>
    </b-modal>
    <b-row>
      <b-col cols="12">
        <div class="row">
          <form action="">

          </form>
          <b-form-group
            id="input-group-title"
            class="col-4"
            label="Title:"
            label-for="input-title"
          >
            <b-form-input
              id="input-title"
              v-model="banner.title"
              required
              pattern="[^\x22]+"
              class="banner-input"
              title="Don't use double quotes!"
              placeholder="Enter title"
            >
            </b-form-input>
          </b-form-group>

          <b-form-group
            id="input-group-main-text"
            class="col-5"
            label="Main text:"
            label-for="input-main-text"
          >
            <div class="row">
              <b-form-input
                id="input-main-text"
                v-model="banner.main_text"
                required
                pattern="[^\x22]+"
                class="banner-input col-12"
                maxlength="35"
                title="Don't use double quotes!"
                placeholder="Enter main text"
              >
              </b-form-input>
              <div class="col-12">
                <div class="row">
                  <div class="col-10">
                    <b-form-text id="input-live-help">max 35 characters</b-form-text>
                  </div>
                  <div class="col-2">
                    <div class="text-size-12 text-right pt-2 pb-3 pr-3 position-relative">
                      {{banner.main_text.length}} / 35
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </b-form-group>

          <b-form-group
            id="input-group-cta-text"
            class="col-3"
            label="CTA text:"
            label-for="input-cta-text"
          >
            <b-form-input
              id="input-cta-text"
              v-model="banner.cta_text"
              required
              pattern="[^\x22]+"
              class="banner-input"
              title="Don't use double quotes!"
              placeholder="Enter CTA text"
            >
            </b-form-input>
          </b-form-group>

          <b-form-group
            id="input-group-color-scheme"
            class="col-3"
            label="Color scheme:"
            label-for="input-cta-color-scheme"
          >
            <b-form-select
              id="input-cta-color-scheme"
              v-model="banner.color_scheme"
              required
              class="banner-input"
              :options="colorSchemes"
            >
            </b-form-select>
          </b-form-group>

          <b-form-group
            id="input-group-link"
            class="col-3"
            label="Link:"
            label-for="input-link"
          >
            <b-form-input
              id="input-link"
              v-model="banner.link"
              required
              pattern="[^\x22]+"
              class="banner-input"
              title="Don't use double quotes!"
              placeholder="Enter link"
            >
            </b-form-input>
          </b-form-group>

          <b-form-group
            id="input-group-default-logo"
            class="col-3"
            label="Use default DELFI logo:"
            label-for="input-default-logo"
          >
            <b-form-checkbox
              id="input-default-logo"
              v-model="banner.default_logo"
            >
            </b-form-checkbox>
          </b-form-group>

          <b-form-group
            id="input-group-default-mvp-logo"
            class="col-3"
            label="Use default MVP logo:"
            label-for="input-default-mvp-logo"
          >
            <b-form-checkbox
              id="input-default-mvp-logo"
              v-model="banner.default_mvp_logo"
            >
            </b-form-checkbox>
          </b-form-group>

          <b-form-group
            id="input-group-logo"
            class="col-3"
            label="Logo:"
            label-for="input-logo"
            v-if="!banner.default_mvp_logo">
            <b-form-file
              id="input-logo"
              placeholder="Choose a file or drop it here..."
              drop-placeholder="Drop file here..."
              @change="uploadTempImage"
            ></b-form-file>

            <div v-if="banner.logo !== ''">
              <img :src="banner.logo" alt="" style="margin-top: 5px; width: 100px;">
              <b-button class="ml-3" v-on:click="deleteImage('input-logo')" variant="danger">Delete</b-button>
            </div>
          </b-form-group>

          <div class="form-group col-12">
            <b-card
              header="Small titles"
            >
              <div v-for="(item, key) in banner.small_titles"
                   :key="key"
                   class="row">
                <b-form-group
                  id="input-group-small-title"
                  class="col-10"
                  :label-for="`input-title-${key}`"
                >
                  <b-form-input
                    :id="`input-title-${key}`"
                    v-model="banner.small_titles[key]"
                    pattern="[^\x22]+"
                    maxlength="65"
                    placeholder="Enter small title"
                    class="banner-input"
                  >
                  </b-form-input>
                </b-form-group>
                <b-button href="#" class="col-2 mb-3" variant="danger" @click="removeSmallTitle(key)">Delete</b-button>
                <div class="col-12">
                  <div class="row">
                  <div class="col-10">
                    <b-form-text id="input-live-help">max 65 characters</b-form-text>
                  </div>
                  <div class="col-2">
                    <div class="text-size-12 text-right pt-2 pb-3 pr-3 position-relative">
                      {{banner.small_titles[key].length}} / 65
                    </div>
                  </div>
                </div>
                </div>
              </div>
              <b-button href="#" variant="primary" @click="addSmallTitle">Add small title</b-button>
            </b-card>
          </div>
          <div class="form-group col-12">
            <b-card
              header="Images"
            >
              <b-form-group class="col-12">
                <b-form-file
                  placeholder="Choose a file or drop it here..."
                  drop-placeholder="Drop file here..."
                  @change="uploadTempImage"
                ></b-form-file>
                <b-row>
                  <div v-for="(object, key) in banner.images"
                       :key="key"
                       class="col-4">
                    <b-row>
                      <div v-if="object.croppedImage" class="col-12">
                        <img :src="object.croppedImage" alt="" style="margin-top: 5px; height:285px; width: 347px;">
                      </div>
                      <div class="col-8 my-2">
                        <b-button class="mr-2" v-on:click="editImage(key)" variant="primary">Edit</b-button>
                        <b-button v-on:click="deleteImage(key)" variant="danger">Delete</b-button>
                      </div>
                    </b-row>
                  </div>
                </b-row>
              </b-form-group>
            </b-card>
          </div>

          <div class="col-12">
            <router-link :to="{name: 'banner-index'}"  class="btn btn-light">
              Cancel
            </router-link>
            <b-button class="ml-3" @click="save" :disabled="loading" variant="primary">
              <span v-if="loading" class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
              <span>Save</span>
            </b-button>
            <b-button class="ml-3" @click="preview" variant="primary" :disabled="previewLoading">
              <span v-if="previewLoading" class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
              <span>Preview</span>
            </b-button>
            <b-button class="ml-3" @click="download" variant="primary" :disabled="disableDownload">Download</b-button>
          </div>
        </div>
      </b-col>
    </b-row>

  </div>

</template>

<script>
    import axios from 'axios';
    import { Cropper } from 'vue-advanced-cropper';

    export default {
        name: 'Form',
        data() {
            return {
                banner: {
                    title: '',
                    main_text: '',
                    cta_text: '',
                    color_scheme: 'delfi',
                    link: '',
                    logo_path: '',
                    logo: '',
                    default_logo: true,
                    default_mvp_logo: false,
                    images: [],
                    small_titles: [''],
                },
                colorSchemes: [
                    {value: 'delfi', text: 'Delfi'},
                    {value: 'mvp', text: 'MVP'},
                    {value: 'tasty', text: 'Tasty'},
                    {value: 'turgid', text: 'Tūrisma Gids'},
                    {value: 'vina', text: 'Viņa'},
                    {value: 'tavsDarzs', text: 'Tavs Dārzs'},
                    {value: 'tavaMaja', text: 'Tava Māja'},
                    {value: 'kinolente', text: 'Kinolente'},
                    {value: 'campus', text: 'Campus'},
                    {value: 'calis', text: 'Cālis'},
                ],
                exportLink: {
                    giga: '',
                    tower: '',
                    square: ''
                },
                image: {
                    defaultImage: '',
                    croppedImage: '',
                    croppedSize:{
                        width: '',
                        height: ''
                    },
                    croppedPosition:{
                        top: '',
                        left: ''
                    },
                    path: '',
                    defaultImagePath: ''
                },
                tempImage: '',
                tempAttribute: '',
                stamp: '',
                previewStamp: '',
                cropperInfo:{
                    stencil: {
                        aspectRatio: 347/285,
                    },
                    minHeight: 285,
                    minWidth: 347
                },
                currentActionType: '',
                bannerID: '',
                loading: false,
                previewLoading: false,
                firstLoad: false,
                disableDownload: false,
                saveError: {
                    error: false,
                    text: ''
                },
            };
        },
        props: {
            itemId: Number,
            user: Object
        },
        components: {
            Cropper
        },
        watch:{
            'banner.color_scheme':
                function(val){
                    if(!this.firstLoad) {
                        if (val === 'delfi') {
                            this.banner.default_logo = true;
                            this.banner.default_mvp_logo = false;
                        } else if (val === 'mvp') {
                            this.banner.default_logo = false;
                            this.banner.default_mvp_logo = true;
                        }
                    }
                    this.firstLoad = false;
                }
        },

        async created() {
            if (this.$route.params.id > 0) {
                this.bannerID = this.$route.params.id;
                await axios({
                    url: '//neo.delfi.lv/misc/ads/bannerAxios.php',
                    method: 'post',
                    data: JSON.stringify({
                        action: 'GET SPECIFIC',
                        subject: 'banner',
                        specificID: this.$route.params.id
                    }),
                }).then(
                    (response) => {
                        this.firstLoad = true;
                        this.banner = response.data;

                        if(this.banner.logo_path === ''){
                            this.banner.logo = '';
                            if(this.banner.images.length > 0){
                                this.stamp = this.banner.images[0].path.split('/')[4];
                            }
                        }else{
                            this.stamp = this.banner.logo_path.split('/')[4];
                        }

                        this.banner.default_logo = this.banner.default_logo != 0;
                        this.banner.default_mvp_logo = this.banner.default_mvp_logo != 0;
                    },
                    (error) => {}
                );
            }else{
                this.disableDownload = true;
            }
        },
        mounted() {},
        computed: {},

        methods: {
            //Button functions
            async preview(){
                this.previewStamp = Date.now();
                this.previewLoading = true;
                this.saveImagesToServer(this.previewStamp).then(() => {
                    this.getParams = this.createGetForIframe();

                    this.exportLink.giga =
                        '//neo.delfi.lv/misc/ads/preview.php?ad-type=giga&' +
                        this.getParams;
                    this.exportLink.tower =
                        '//neo.delfi.lv/misc/ads/preview.php?ad-type=tower&' +
                        this.getParams;
                    this.exportLink.square =
                        '//neo.delfi.lv/misc/ads/preview.php?ad-type=square&' +
                        this.getParams;
                    this.previewLoading = false;
                    this.$refs.previewModal.show();
                });
            },
            save() {
                if (this.checkValidation() && this.banner.images.length > 0) {
                    this.loading = true;
                    this.disableDownload = true;
                    this.updateImagesAndInsertToDB().then(() => {
                        this.loading = false;
                        this.disableDownload = false;
                        if(!this.saveError.error) {
                            this.$bvToast.toast('Banner successfully saved', {
                                title: `Success!`,
                                variant: 'success',
                                solid: true,
                                autoHideDelay: 10000,
                            });
                        }else{
                            this.$bvToast.toast(this.saveError.text, {
                                title: `Erorr!`,
                                variant: 'danger',
                                solid: true,
                                autoHideDelay: 10000,
                            });
                        }
                    });

                    this.saveError = {error: false, text: ''};
                }else if(this.banner.images.length === 0){
                    this.$bvToast.toast('Banner images missing', {
                        title: `Error!`,
                        variant: 'danger',
                        solid: true,
                        autoHideDelay: 10000,
                    });
                }
            },
            async updateImagesAndInsertToDB(){
                if (this.stamp !== '') {
                    await this.deleteOldImagesFromServer(this.stamp);
                }
                this.stamp = Date.now();

                await this.saveImagesToServer(this.stamp);
                await this.saveToDB();
            },
            download(){
                axios({
                    url: '//neo.delfi.lv/internal/local/reklama/generateBanner.php',
                    method: 'post',
                    data: JSON.stringify({
                        banner_id: this.bannerID
                    }),
                }).then(
                    (response) => {
                        window.open(response.data, '_blank');
                    },
                    (error) => {
                        console.log('error', error);
                    }
                );
            },
            saveCrop() {
                this.cropImageProcessing();
                this.hideCropperModal();
            },
            cropImageProcessing(){
                const {coordinates, canvas} = this.$refs.cropper.getResult();
                if (this.tempAttribute === 'input-logo') {
                    //There can only be one logo, so no need for array
                    this.banner.logo = canvas.toDataURL();
                } else {
                    //Set image object
                    this.image = {
                        defaultImage: this.tempImage,
                        croppedImage: canvas.toDataURL(),
                        croppedSize: {
                            width: coordinates.width,
                            height: coordinates.height
                        },
                        croppedPosition: {
                            top: coordinates.top,
                            left: coordinates.left
                        },
                        path: '',
                        defaultImagePath: ''
                    };

                    //Check if new or edited image and save accordingly
                    if (this.currentActionType === 'add') {
                        this.banner.images.push(this.image);
                    } else if (this.currentActionType === 'edit') {
                        this.banner.images[this.tempAttribute] = this.image;
                    }
                }
            },

            //Small title button actions
            removeSmallTitle(id){
                this.banner.small_titles.splice(id, 1);
            },
            addSmallTitle(){
                this.banner.small_titles.push('');
            },

            //Image button actions
            editImage(key){
                this.tempImage = this.banner.images[key].defaultImage;
                this.tempAttribute = key;
                this.currentActionType = 'edit';
                this.setCropperInfo();

                this.$refs.modal.show();
            },
            deleteImage(key){
                if(key === 'input-logo'){
                    this.banner.logo = '';
                    this.banner.logo_path = '';
                }else{
                    this.banner.images.splice(key, 1);
                }
            },

            //Image saving
            async saveImagesToServer(stamp){
                let data = new FormData();
                let imageCount = 0;
                for(let i = 0; i < this.banner.images.length; i++) {
                    if(this.banner.images[i].croppedImage && this.banner.images[i].defaultImage) {
                        data.set('image' + imageCount, this.banner.images[i].croppedImage);
                        data.set('fullImage' + imageCount, this.banner.images[i].defaultImage);
                        imageCount++;
                    }
                }
                if(!this.banner.default_mvp_logo) {
                    data.set('logo', this.banner.logo);
                }
                data.set('timestamp', stamp);
                data.set('imageCount', String(imageCount));

                await axios({
                    url: '//neo.delfi.lv/internal/local/reklama/saveImages.php',
                    method: 'post',
                    data
                }).then(
                    (response) => {
                        if (response.status === 200 && response.data.status === 'ok') {
                            for(let i = 0; i < response.data.paths.length - 1; i++){
                                this.banner.images[i].path = response.data.paths[i].croppedPath;
                                this.banner.images[i].defaultImagePath = response.data.paths[i].fullPath;
                            }
                            this.banner.logo_path = response.data.paths[response.data.paths.length - 1];
                        }else{
                            this.saveError = {
                                error: true,
                                text: 'Couldn\'t save images'
                            };
                        }
                    },
                    (error) => {
                        this.saveError = {
                            error: true,
                            text: 'Couldn\'t save images'
                        };
                    }
                );
            },
            async deleteOldImagesFromServer(stamp){
                let data = new FormData();
                data.set('timestamp', stamp);

                await axios({
                    url: '//neo.delfi.lv/internal/local/reklama/deleteImages.php',
                    method: 'post',
                    data
                }).then(
                    (response) => { },
                    (error) => {
                        this.saveError = {
                            error: true,
                            text:'Couldn\'t delete images'
                        };
                    }
                );
            },
            async uploadTempImage(event) {
                this.input = event.target;
                if (this.input.files && this.input.files[0]) {
                    this.reader = new FileReader();
                    this.reader.onload = (e) => {
                        this.tempImage = e.target.result;
                        this.tempAttribute = this.input.id;
                        this.currentActionType = 'add';
                        this.setCropperInfo();

                        this.$refs.modal.show();
                    };
                    this.reader.readAsDataURL(this.input.files[0]);
                }
            },

            //Database save
            async saveToDB(){
                this.tempLogo = this.banner.logo;
                this.banner.logo = '';
                this.tempImages = [];
                this.banner.images.forEach((value,key) => {
                    this.tempImages[key] = {};
                    this.tempImages[key]['defaultImage'] = value.defaultImage;
                    this.tempImages[key]['croppedImage'] = value.croppedImage;
                    this.banner.images[key].defaultImage = '';
                    this.banner.images[key].croppedImage = '';
                });
                if(this.bannerID === '') {
                    await axios({
                        url: '//neo.delfi.lv/misc/ads/bannerAxios.php',
                        method: 'post',
                        data: JSON.stringify({
                            action: 'ADD',
                            subject: 'banner',
                            banner: this.banner,
                            user_id: this.user.id
                        }),
                    }).then(
                        (response) => {
                            this.bannerID = response.data;
                            this.banner.logo = this.tempLogo;
                            this.tempImages.forEach((value,key) => {
                                this.banner.images[key]['defaultImage'] = value.defaultImage;
                                this.banner.images[key]['croppedImage'] = value.croppedImage;
                            });
                        },
                        (error) => {
                            this.saveError = {
                                error: true,
                                text:'Couldn\'t save banner'
                            };
                        }
                    );
                }else{
                    await axios({
                        url: '//neo.delfi.lv/misc/ads/bannerAxios.php',
                        method: 'post',
                        data: JSON.stringify({
                            action: 'UPDATE',
                            subject: 'banner',
                            specificID: this.bannerID,
                            banner: this.banner,
                            user_id: this.user.id
                        }),
                    }).then(
                        (response) => {
                            this.banner.logo = this.tempLogo;
                            this.tempImages.forEach((value,key) => {
                                this.banner.images[key]['defaultImage'] = value.defaultImage;
                                this.banner.images[key]['croppedImage'] = value.croppedImage;
                            });
                        },
                        (error) => {
                            this.saveError = {
                                error: true,
                                text:'Couldn\'t save banner'
                            };
                        }
                    );
                }
            },

            //Modal functions
            hideCropperModal(){
                this.$refs.modal.hide();
                this.tempImage = '';
                this.tempAttribute = '';
                this.currentActionType = 'add';
                this.image = {};
                this.setCropperInfo();
            },
            closePreviewModal(){
                if(this.previewStamp !== ''){
                    this.deleteOldImagesFromServer(this.previewStamp);
                    this.exportLink = {
                        giga: '',
                        tower: '',
                        square: ''
                    }
                }
            },

            //Iframe parameters
            createGetForIframe(){
                //Logo from banner
                this.tempLogo = this.banner.logo;
                this.banner.logo = '';
                this.searchParams = new URLSearchParams(this.banner).toString();
                this.banner.logo = this.tempLogo;

                //Images
                this.imagePaths = '&images=';
                for(let i = 0; i < this.banner.images.length; i++){
                    this.imagePaths += encodeURI(this.banner.images[i].path);
                    if(i !== this.banner.images.length - 1){
                        this.imagePaths += ",";
                    }
                }
                this.searchParams += this.imagePaths;

                //Small titles
                this.searchParams += "&small_titles=" + new URLSearchParams(this.banner.small_titles.join("NextText")).toString();

                return this.searchParams;
            },

            //Input check
            checkValidation() {
                let valid = true;
                document.querySelectorAll('.banner-input').forEach((item) => {
                    if (!item.checkValidity()) {
                        valid = false;
                        item.reportValidity();
                    }
                });
                return valid;
            },

            //Cropper size functions
            setCropperInfo(){
                if(this.tempAttribute === 'input-logo'){
                    this.cropperInfo = {
                        stencil: {},
                        minHeight: 10,
                        minWidth: 10
                    }
                }else{
                    this.cropperInfo = {
                        stencil: {
                            aspectRatio: 347/285
                        },
                        minHeight: 285,
                        minWidth: 347
                    }
                }
            },
            getCropperSize() {
                if (this.tempAttribute === 'input-logo') {
                    return {
                        height: 100000,
                        width: 100000,
                    };
                } else {
                    if(this.currentActionType === "edit"){
                        return{
                            height: this.banner.images[this.tempAttribute].croppedSize.height,
                            width: this.banner.images[this.tempAttribute].croppedSize.width
                        }
                    }else {
                        return {
                            height: 285,
                            width: 347,
                        };
                    }
                }
            },
            getCropperPosition() {
                if (this.tempAttribute !== 'input-logo' && this.banner.images.length - 1 >= this.tempAttribute) {
                    return{
                        top: this.banner.images[this.tempAttribute].croppedPosition.top,
                        left: this.banner.images[this.tempAttribute].croppedPosition.left
                    }
                }else {
                    return {
                        left: 0,
                        top: 0,
                    };
                }
            },
            getCropperRestrictions(){
                return{
                    minWidth: this.cropperInfo.minWidth,
                    minHeight: this.cropperInfo.minHeight
                }
            }
        },
    };
</script>

<style>
  .cropper{
    height: 400px;
  }
  .vue-advanced-cropper__area{
    background: white;
  }
  .vue-square-handler{
    background: #444;
  }
  .vue-simple-line{
    border-color: black;
  }
</style>
