<template>
  <div>
    <b-row>
      <router-link :to="{name: 'banner-create'}"  class="ml-auto btn btn-primary">
        New banner
      </router-link>
    </b-row>


    <table v-if="itemsList.length > 0" class="table table-hover mt-3">
      <thead>
      <tr>
        <th scope="col">Item ID</th>
        <th scope="col">Title</th>
        <th scope="col">Main Text</th>
        <th scope="col">Options</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="item in itemsList" :key="item.id">
        <th scope="row">{{item.id}}</th>
        <th scope="row">{{item.title}}</th>
        <th scope="row">{{item.main_text}}</th>
        <td>
          <button type="button"
                  class="btn btn-sm btn-primary"
                  @click="$router.push({ name: 'banner-edit', params: { id: item.id } })"
          >Edit</button>
          <button type="button"
                  class="btn btn-sm btn-danger ml-3"
                  @click="removeItemPopup(item.id)"
          ><i style="font-size: 100%;" class="icon-trash"></i></button>
          <button type="button"
                  class="btn btn-sm btn-primary ml-3"
                  @click="copyItem(item.id)"
          >Copy</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div v-else class="font-italic text-center text-muted">
      List is empty
    </div>
    <b-modal id="bv-modal-delete" hide-footer>
      <div class="d-block text-center">
        <h3>Are you sure?</h3>
      </div>
      <b-button class="mt-3" block @click="$bvModal.hide('bv-modal-delete')">Cancel</b-button>
      <b-button class="mt-3" block @click="removeItem()">Yes</b-button>
    </b-modal>
  </div>
</template>



<script>
    import axios from 'axios';

    export default {
        name: 'Index',
        data() {
            return {
                itemsList: {},
                itemId: null,
            };
        },
        props:{
            user: Object,
        },
        created() {
            this.getList();
        },
        methods: {
            async getList() {
                await axios({
                    url: '//neo.delfi.lv/misc/ads/bannerAxios.php',
                    method: 'post',
                    data: JSON.stringify({
                        action: 'GET',
                        subject: 'banner',
                    }),
                }).then(
                    (response) => {
                        this.itemsList = response.data;
                    },
                    (error) => {
                    }
                );
            },
            removeItemPopup(id){
                this.itemId = id;
                this.$bvModal.show('bv-modal-delete');
            },
            async copyItem(id){
                await axios({
                    url: '//neo.delfi.lv/misc/ads/bannerAxios.php',
                    method: 'post',
                    data: JSON.stringify({
                        action: 'COPY',
                        subject: 'banner',
                        specificID: id,
                        user_id: this.user.id,
                        stamp: Date.now(),
                    }),
                }).then(
                    (response) => {
                        this.$router.go(0);
                    },
                    (error) => {
                        console.log('error', error);
                    }
                );
            },
            async removeItem(){
                await axios({
                    url: '//neo.delfi.lv/misc/ads/bannerAxios.php',
                    method: 'post',
                    data: JSON.stringify({
                        action: 'DELETE',
                        subject: 'banner',
                        specificID: this.itemId
                    }),
                }).then(
                    (response) => {
                        this.timestamp = '';
                        this.fullPath = '';
                        if(response.data.logo_path !== ''){
                            this.fullPath = response.data.logo_path;
                        }else if(response.data.images !== ''){
                            this.fullPath = response.data.images;
                        }
                        if(this.fullPath !== ''){
                            this.timestamp = this.fullPath.split("/")[4];
                        }

                        if(this.timestamp !== '') {
                            let data = new FormData();
                            data.set('timestamp', this.timestamp);

                            axios({
                                url: '//neo.delfi.lv/internal/local/reklama/deleteImages.php',
                                method: 'post',
                                data
                            }).then(
                                (response) => {
                                },
                                (error) => {
                                    console.log('FAILURE!!', error);
                                }
                            );
                        }
                        this.$router.go(0);
                    },
                    (error) => {
                        console.log('error', error);
                    }
                );
            }
        },
    };
</script>
