<template>
  <div>
    <b-row>
      <router-link to="/dscreen/create"  class="ml-auto btn btn-primary">
        New
      </router-link>
    </b-row>


    <table v-if="itemsList.length > 0" class="table table-hover mt-3">
      <thead>
      <tr>
        <th scope="col">Item ID</th>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        <th scope="col">Options</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="item in itemsList" :key="item.id">
        <th scope="row">{{item.id}}</th>
        <th scope="row">{{item.title}}</th>
        <th scope="row">{{formatDates(item.date_from, item.date_to)}}</th>
        <td>{{item.status}}</td>

        <td>
          <button type="button"
                  class="btn btn-sm btn-primary"
                  @click="$router.push({ name: 'dscreen-edit', params: { id: item.id } })"
          >Edit</button>
          <button type="button"
                  class="btn btn-sm btn-danger ml-3"
                  @click="removeItemPopup(item.id)"
          ><i style="font-size: 100%;" class="icon-trash"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
    <div v-else class="font-italic text-center text-muted">
      List is empty
    </div>
    <b-modal id="bv-modal-delete" hide-footer>
      <div class="d-block text-center">
        <h3>Are you sure?</h3>
      </div>
      <b-button class="mt-3" block @click="$bvModal.hide('bv-modal-delete')">Cancel</b-button>
      <b-button class="mt-3" block @click="removeItem()">Yes</b-button>
    </b-modal>
  </div>
</template>



<script>
import format from 'date-fns/format';
import axios from 'axios';

export default {
  name: 'Index',
  data() {
    return {
      itemsList: {},
      dateFormat: 'D MMM',
      itemId: null,
    };
  },
  created() {
    this.getList();
  },
  methods: {
    async getList() {
      const response = await axios({
        url: '//neo.delfi.lv/internal/local/sadmin/be/htdocs/index.php/dscreen/',
        method: 'get',
      });
      this.itemsList = response.data;
      console.log('checkData', this.itemsList);
    },

    formatDates(dateOne, dateTwo) {
      let formattedDates = '';
      if (dateOne) {
        formattedDates = format(dateOne, this.dateFormat);
      }
      if (dateTwo) {
        formattedDates += ` - ${format(dateTwo, this.dateFormat)}`;
      }
      return formattedDates;
    },

    removeItemPopup(id){
      this.itemId = id;
      this.$bvModal.show('bv-modal-delete')

    },

    async removeItem(){
      await axios({
        url: `//neo.delfi.lv/internal/local/sadmin/be/htdocs/index.php/dscreen/delete/${this.itemId}`,
        method: 'get',
      }).then(
        (response) => {
          console.log('good', response);
          this.$router.go(0);
        },
        (error) => {
          console.log('error', error);
        }
      );
    }
  },
};
</script>
